// Settings
// @import 'settings';
// Fonts
$OpenSansPath: '//www.nuxeo.com/assets/fonts' !default;
$OpenSansVersion: '1.1.0' !default;

// Nuxeo Mixins
@import 'nuxeo-mixins';

// @import 'Light';
// @import 'LightItalic';
@import 'Regular';
@import 'Italic';
@import 'Semibold';
@import 'SemiboldItalic';
@import 'Bold';
@import 'BoldItalic';
@import 'ExtraBold';
@import 'ExtraBoldItalic';

// Foundation base
// @import 'foundation';

// SMAKK
@import 'variables-smakk';
@import 'mixins-smakk';
@import 'structures';
@import 'base-smakk';
@import 'utilities';
@import 'shame';


// Optional components that can be included outside of nuxeo-base-styles
// @import 'components/codeblock';

@mixin nuxeo-base-styles {
  $flex: true;
  // @include foundation-everything;

  @include smakk-shame;
  @include smakk-structures;
  @include smakk-base;
  @include smakk-utilities;
}
