//Typography
html,
body {
    font-size: 18px;
    @include primary-font-bold;
    color: #fff;
    background: $c-grey
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    margin: 0;
    margin-bottom: 20px;
    @include breakpoint(large) {
        margin-bottom: 40px;
    }
}

h1,
.h1 {
    @include primary-font-extrabold;
    @include fluid-type(37.5em, 80em, $h1-min, $h1-max);
    letter-spacing: -2px;
    line-height: 1
}

h2,
.h2 {
    @include primary-font-extrabold;
    @include fluid-type(37.5em, 80em, $h2-min, $h2-max);
    letter-spacing: -1px;
    line-height: 1.2
}

h3,
.h3 {
    @include primary-font-bold;
    @include fluid-type(37.5em, 80em, $h3-min, $h3-max);
    letter-spacing: -1px;
    line-height: 1.3
}

h4,
.h4 {
    @include primary-font-bold;
    @include fluid-type(37.5em, 80em, $h4-min, $h4-max);
    margin-bottom: 20px
}

p {
    @include primary-font-bold;
    font-size: 1em;
    line-height: 24px;
}

blockquote {
    position: relative;
    @include primary-font-semibold;
    margin: $scale-2 0;
    max-width: 500px;
    cite {
        margin-top: $scale-5;
        font-style: normal;
        display: block
    }
    &:after {
        content: '';
        position: absolute;
        height: 25px;
        width: 95px;
        top: 70px;
        background-image: url(svg/quotation-mark.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

a:link {
    border-bottom: 2px solid;
    color: inherit;
    &:hover {
        color: inherit;
        border-bottom: 2px solid $c-green;
    }
    .is-blue & {
        border-bottom: 2px solid $c-green;
        &:hover {
            border-bottom: 2px solid $c-blue;
        }
    }
    .is-bg-green & {
        &:hover {
            color: $c-blue;
            border-bottom: 2px solid $c-blue;
        }
    }
}

//Forms , inputs buttons
label {
    color: $c-green;
    @include primary-font-semibold;
    display: block
}

input:not([type="submit"]),
select,
textarea {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $c-blue;
    border-radius: 0;
    margin-top: $scale-5;
    margin-bottom: $scale-2;
    color: $c-green;
    @include primary-font-semibold;
    padding: 2px;
    background: rgba(0, 0, 0, 0);
    &::placeholder,
    option,
    label {
        color: $c-green;
        @include primary-font-semibold
    }
}

.select--styled {
    position: relative;
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    &:after {
        content: '';
        position: absolute;
        right: 8px;
        bottom: 35px;
        width: 15px;
        height: 15px;
        border: 2px solid blue;
        border-left: 2px solid transparent;
        border-top: 2px solid transparent;
        transform: rotate(45deg);
        pointer-events: none;
    }
}

input[type='radio'],
input[type='checkbox'] {
    width: auto;
    margin-top: $scale-0
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    display: inline-block;
    margin-left: 0.44444rem;
    margin-right: 0.88889rem;
    margin-bottom: 0;
    vertical-align: baseline;
}

input[type='submit'] {
    @extend .button;
    width: auto;
    border: 0;
}

button,
.button {
    @include primary-font-semibold;
    @include borders(1px, solid, rgba(0, 0, 0, 0));
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: $radius;
    font-size: $scale-0;
    cursor: pointer;
    margin: 0 $scale-0 $scale-2;
    min-width: 190px;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.88889rem $scale-6 0.94444rem $scale-6;
    color: #fff;
    transition: all 300ms ease-out;
    &:hover {
        background: white;
        color: $c-blue;
        border: 1px solid $c-blue;
    }
}

.button--ghost {
    @include borders(1px, solid, #fff);
    background: rgba(0, 0, 0, 0);
}

.button--callout {
    background: #fff;
    color: $c-blue;
    &:hover {
        background: $c-blue;
        color: white;
        border: 1px solid $c-blue;
    }
}

//svg icons
.icon {
    width: 80px;
    height: 100px;
    fill: black
}

//Toggles
.toggle__item {
    @include inline-list;
    @include toggle-item(15px, 15px);
    transition: all 200ms ease-out;
}

.toggle__item--large {
    @include toggle-item(20px, 20px);
}

//Navigation
.nav-main__item {
    @include nav-links($c-blue, 16px)
}

.nav-footer {
    @include inline-list;
}

.nav-footer__item {
    @include nav-links($c-navy, $scale-0)
}

//Misc
.integrations {
    @extend %inline-list
}

.integrations__item {
    margin-left: 30px;
    font-size: 16px;
    &:before {
        color: $c-green;
        content: '';
        @include toggle-item(12px, 12px);
        transition: all 200ms ease-out;
        display:  inline-block;
        margin-right: 5px
    }
    a:link{
        border: 0
    }
}
