/* Tsoulcie & Lkemen for Nuxeo, Jan 2010 */

body {
  background-image: none;
  background-color: #fff;
  font: normal 10pt Times, serif;   
  color:black;
  margin: 10%
 } 
 
#topmenu-position, #searchbox, #sidemenu-position, #sidemenu, #links_in_column, #blogRollBar, #siteMap, #footer {
   display:none;
 }

#logo img {
 display:visible;
} 

div#columns {
  padding:0;
}

a, a:link, a:visited, a:hover {
 color:black;
 text-decoration: underline;
}

div#path {
  border:1pt solid #000;
  border-left: none;
  border-right: none;
}

#productTabs ul {
  border-bottom:4px solid #000;
}

#productTabs ul li.selected {
  border:1pt solid #000;
}

ul li {
list-style-image:none;
}