.download .select-package {
      margin-top: 15px;
}

#download_form {
   margin-top: 15px;
}

ul.tabs {
  margin:0;
  margin-left: 25px;
  padding:0;
  list-style-type: none;

}

 .tabs li {
   padding:0;
    display: inline-block;
    margin: 0;
}

        
.tabs li > a {
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    border: 1px solid #AAA;
    color: #000;
    background: #F7F7F7;
    border-radius: 2px 2px 0 0;
    outline:none;
    font-size:15px;
    font-weight: bold;
    text-align: center;
    display:block;
    float:left;
    margin-left:10px;
    opacity: 0.6;
}

.tabs li > a span {
  font-weight: normal;
  font-size: 13px;
  color:#666;
  display:block;
}

.tabs li > a span a {
  color:##0063C6;
}

.tabs li a div.preview {
 margin-right: 10px;
background-color: #3670b9;
color: white;
font-weight: normal;
font-size: 9px;
padding: 0 1em;
position: absolute;
right: 0;
top: -15px;
line-height: 15px;
}
        
.tabs li > a:visited
{
    color: #000;
}
        
.tabs li > a:hover
{
    background:White;
}
        
.tabs li.selected > a
{  opacity: 1;
    /*selected tab style */
    position: relative;
    top: 0px;
    font-weight:bold;
    background-color:#F8FCFF;
    border-bottom-color: #F8FCFF;
}
        
        
.tabs li.selected > a:hover
{
    /*selected tab style */
    text-decoration: none;
}
        
.tabcontent
{
    display: block;
}

.tabcontents
{
     border:1px solid #ccc;
  text-align: left;
  padding:10px;
  margin-top:-4px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.22, rgb(238,246,255)),
    color-stop(0.78, rgb(248,252,255)));
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(238,246,255) 22%,
    rgb(248,252,255) 78%);
  background-color: #F8FCFF;
  width:650px;
}

.release-notes {
padding: 0.75em;
margin: 0 0 1.5em 0;
border-bottom: 2px solid rgba(100,100,100,0.15);
text-align: right;
}