@mixin smakk-base {
  //Typography
  html,
  body {
    font-size: 14px;
    @include primary-font-semibold;
    color: #fff;
    background: $c-grey;
    overflow-x: hidden
  }
  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  h1,
  h2,
  h3,
  h4,
  .h1,
  .h2,
  .h3,
  .h4 {
    @include primary-font-extrabold;
    margin: 0;
    margin-bottom: 20px;
    @include smakk-breakpoint(large) {
      margin-bottom: 40px;
    }
  }
  h1,
  .h1 {
    @include smakk-fluid-type(37.5em, 80em, $h1-min, $h1-max);
    letter-spacing: -2px;
    line-height: 1.1;
  }
  h2,
  .h2,
  h1.smaller {
    @include smakk-fluid-type(37.5em, 80em, $h2-min, $h2-max);
    letter-spacing: -1px;
    line-height: 1.2
  }
  h3,
  .h3,
  h2.smaller {
    @include smakk-fluid-type(37.5em, 80em, $h3-min, $h3-max);
    letter-spacing: -1px;
    line-height: 1.3
  }
  h4,
  .h4,
  h3.smaller {
    @include smakk-fluid-type(37.5em, 80em, $h4-min, $h4-max);
    margin-bottom: 20px;
    line-height: 1.2
  }
  p {
    @include primary-font-semibold;
    font-size: 16px;
    @include smakk-breakpoint(large) {
      font-size: 18px;
      line-height: 24px;
    }
  }
  blockquote {
    position: relative;
    @include primary-font-semibold;
    margin: $scale-2 0;
    max-width: 500px;
    font-size: 18px;
    cite {
      font-style: normal;
      display: block;
      margin-top: $scale-2
    }
    svg {
      fill: currentColor;
      display: block;
      height: 25px;
      margin-bottom: -$scale-2;
      margin-top: $scale-1;
    }
  }
  a,
  a:link,
  a:visited {
    @include primary-font-bold;
    border-bottom: 2px solid;
    text-decoration: none !important;
    color: inherit;
    .is-blue & {
      border-bottom: 2px solid $c-green;
      &:hover {
        border-bottom: 2px solid $c-blue;
      }
    }
  }
  a:hover {
    color: inherit;
    border-bottom: 2px solid $c-green;
  }
  a.h1,
  a.h2,
  a.h3,
  a.h4,
  a.columns,
  a.no-decoration {
    border-bottom: 0 !important;
  }
  //Forms , inputs buttons
  label {
    color: $c-green;
    @include primary-font-semibold;
    display: block;
  }
  input:not([type="submit"]),
  select,
  textarea {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $c-blue;
    border-radius: 0;
    margin-top: $scale-5;
    margin-bottom: $scale-2;
    color: $c-green;
    @include primary-font-semibold;
    padding: 2px;
    background: rgba(0, 0, 0, 0);
    &::placeholder,
    option,
    label {
      color: $c-green;
      @include primary-font-semibold
    }
  }
  .select--styled {
    position: relative;
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    &:after {
      content: '';
      position: absolute;
      right: 8px;
      bottom: 35px;
      width: 15px;
      height: 15px;
      border: 2px solid blue;
      border-left: 2px solid transparent;
      border-top: 2px solid transparent;
      transform: rotate(45deg);
      pointer-events: none;
    }
  }
  input[type='radio'],
  input[type='checkbox'] {
    width: auto;
    margin-top: $scale-0
  }
  input[type="checkbox"]+label,
  input[type="radio"]+label {
    display: inline-block;
    margin-left: 0.44444rem;
    margin-right: 0.88889rem;
    margin-bottom: 0;
    vertical-align: baseline;
  }
  input[type='submit'] {
    @extend a.button;
    width: auto;
    border: 0;
  }

  .box {
    background: $c-grey;
    padding: $scale-2;
    @include smakk-box-shadow();
    margin: $scale-2;
    label{
      @include primary-font-extrabold;
      color: $c-blue;
      font-size: $scale-3;
    }
    input:not([type="submit"]), select, textarea {
      border: 0;
      margin-top: 0;
      font-size: 14px;
      background: #fff;
      padding: $scale-0
    }
  }
  button,
  a.button {
    -webkit-appearance: none;
    @include primary-font-bold;
    border: 2px solid rgba(0, 0, 0, 0) !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: $radius;
    font-size: 14px;
    cursor: pointer;
    margin: 0 $scale-0 $scale-2;
    min-width: 190px;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.88889rem $scale-6 0.94444rem $scale-6;
    color: #fff;
    transition: all 300ms ease-out;
    &:hover {
      background: white;
      color: $c-blue;
      border: 2px solid $c-blue;
    }
    &.button--ghost {
      border: 1px solid #fff !important;
      background: rgba(0, 0, 0, 0);
      &:hover {
        background: white;
        color: $c-blue;
        border: 1px solid $c-blue !important;
      }
    }
    &.button--callout {
      background: #fff;
      color: $c-blue !important;
      border: 2px solid #fff !important;
      &:hover {
        background: $c-blue;
        color: white !important;
        border: 2px solid $c-blue !important;
      }
    }

    &.button--expanded {
      width: 100%;
    }
  }
  //svg icons
  svg {
    fill: currentColor;
    height: 1em;
    width: auto;
  }

  .icon {
    width: 80px;
  }
  //Toggles
  button.toggle__item,
  .toggle__item {
    @include smakk-inline-list;
    @include smakk-toggle-item(15px, 15px);
    transition: all 200ms ease-out;
  }
  .toggle__item--large {
    @include smakk-toggle-item(20px, 20px);
  }
  //Navigation ON SMALL
  .nav-main__item {
    @include smakk-nav-links(#fff, 20px);
    margin: .3em 0;
  }
  .nav-main__item {
    button {
      min-width: 10px;
      padding: 10px;
      &:hover {
        background: transparent;
      }
    }
  }
  .main-menu__logo {
    font-size: 22px;
    max-width: 120px;
    vertical-align: baseline-middle;
  }
  ul.nav-main__submenu {
    right: 0;
    background: $c-navy;
    border-bottom: 10px solid $c-blue;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap
  }
  a.nav-main__subitem__title {
    font-size: 14px;
  }
  .nav-main__subitem__text {
    display: none;
  }
  .nav-main__subitem__text a {
    display: none;
    padding: 0
  }


  //NAV ON LARGE
  @include smakk-breakpoint(large) {
    .nav-main__item {
      @include smakk-nav-links($c-blue, 14px);
      @media screen and (min-width: 1150px) {
        font-size: 16px
      }
    }
    .nav-main__lastitem {
      margin-left: auto
    }
    .nav-main__subitem {
      padding: $scale-2 $scale-5;
      max-width: 50%;
    }
    a.nav-main__subitem__title {
      color: $c-green;
      font-size: $scale-5;
      padding: 0 !important;
      font-weight: 700
    }
    .nav-main__subitem__text {
      color: #fff;
      display: block;
      padding: 0 !important;
      margin: $scale-1 0
    }
    .nav-main__subitem__text a {
      display: inline-block;
      margin-top: $scale-0;
      @include smakk-nav-links(#fff, 16px);
      border-bottom: 2px solid $c-green;
    }
  }
  .nav-footer {
    @include smakk-inline-list;
  }
  .nav-footer__item {
    @include smakk-nav-links($c-navy, $scale-0)
  }

  .pointer {
    cursor: pointer;
  }
}
