div[data-include="menu-top"] {
    background: $c-blue;
    color: white;
    padding: $scale-0 $scale-1;
    @include smakk-breakpoint(large){
        color: initial;
        background: none;
        padding: 0;
        background: #fff
    }
}

.top-bar,
.top-bar ul {
    background-color: transparent;
}
.top-bar-right .button {
    margin: 0
}
.menu-icon{
    border: 0;
    max-width: 30px;
    min-width: 0;
    padding: 10px;
    border-radius: 0;
    margin: 0;
    &:hover{
        border: 0;
        background: 0
    }
}
.menu .nav-main {
    position: relative
}
.title-bar {
    max-width: 1800px
}
.title-bar-title {
    display: inline-block
}
.is-dropdown-submenu {
    border: none
}
.is-dropdown-submenu-parent {
    position: static
}
.dropdown.menu>li.is-dropdown-submenu-parent>a::after,
.dropdown.menu.vertical>li.opens-left>a::after,
.dropdown.menu.vertical>li.opens-right>a::after,
.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after{
    content: none
}
.dropdown.menu.large-horizontal > li.opens-right > .is-dropdown-submenu {
    top: 120%
}
.submenu {
    padding-left: $scale-3
}
.is-submenu-item {
    @include smakk-nav-links(#fff, 14px);
    font-weight: 600
}
.dropdown .is-dropdown-submenu a {
    padding: 0
}

.is-dropdown-submenu.js-dropdown-active {
    display: flex; }

@media print,
screen and (min-width: 64em) {
    .row .row {
    margin-right: 0;
     margin-left: 0;
}
}

.orbit-container {
    height: auto;
    min-height: 30vh;
    padding: 0
}

.orbit-bullets {
    float: right;
    display: inline-block
}
.orbit-bullets button {
    min-width: 0;
    background-color: inherit
}
.orbit-bullets button:hover {		
    background-color: inherit;
    color: inherit
}		
.orbit-bullets button.is-active {		
    background-color: inherit;		
}