//Card and masthead styles
//r- for row
//c- for column/card
.r-header {
    border-bottom: 2px solid $c-navy;
}
.r-cards {
    @include display-flex
}
.columns {
    .r-main & {
       min-height: $height-reg; 
    }
    .r-masthead & {
       min-height: $height-thin; 
    }
    .r-thin &{
        min-height: 150px
    }
    .r-header &{
        align-items: center
    }
    .r-cards & {
        padding: $scale-0
    }
    .r-cards--blocked & {
        margin: $scale-2;
        padding: $scale-0
    }
}

.c-checker {
  @include display-flex();
  padding: $scale-7;
    .r-main &{
        min-height: $height-reg
    }
}
.c-content {
  margin: auto; //Wrap around content inside a c-checker col to vertically align
  position: relative
}


