@mixin smakk-utilities {
  //HELPER CLASSES
  //Colors, states, weights etc meant to extend design in OOCSS fashion
  //Display
  %inline-list,
  .inline-list {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    li {
      display: inline-block;
    }
  }

  %display-flex,
  .display-flex {
    @include smakk-display-flex;
  }

  .is-flex-col {
    @include smakk-flex-direction(column);
  }

  //Light
  .padded0 {
    padding: $scale-1;
  }

  //Heavy on dekstop, light on mobile
  .padded {
    padding: $scale-1;
    @include smakk-breakpoint(large) {
      padding: $scale-7;
    }
  }

  //medium on desktop light on mobile
  .padded2 {
    padding: $scale-1;
    @include smakk-breakpoint(large) {
      padding: $scale-5;
    }
  }

  //padded heavy
  .padded3 {
    padding: $scale-7 $scale-4;
    @include smakk-breakpoint(large) {
      padding: $scale-8;
    }
  }

  //Padded light top and bottom
  .paddedt0 {
    padding-top: $scale-2 !important;
    padding-bottom: $scale-2 !important;
  }

  //padded medium top and bottom
  .paddedt1 {
    padding-top: $scale-4;
    padding-bottom: $scale-4;
  }

  //padded heavy top and bottom
  .paddedt3 {
    padding-top: $scale-7;
    padding-bottom: $scale-7;
  }

  // padded bottom medium
  .paddedb2 {
    padding-bottom: $scale-4;
  }

  //a11y
  %ally-hidden,
  .ally-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  // Fonts
  %is-bold,
  .is-bold {
    font-weight: 700;
  }

  %is-bigger,
  .is-bigger {
    font-size: $scale-2;
    line-height: 32px;
  }

  %is-smaller,
  .is-smaller {
    font-size: 90%;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 20px;
  }

  .underlined {
    * & {
      position: relative;
      margin: 0;
      margin-bottom: 1.3em;
    }
    &:after {
      content: '';
      width: 80px;
      height: 3px;
      border-radius: 20%;
      border: 2px solid;
      position: absolute;
      top: 60px;
      left: 0;
    }
  }

  @media (max-width: 480px) {
    .underlined {
      &:after {
        width: 40px;
        top: 30px;
      }
    }
  }

  .superhead {
    position: absolute;
    top: -30px;
    left: 0;
    font-size: 14px;
    color: $c-blue;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  .float-right {
    float: right;

    img {
      padding: 1em 0 1em 1em;
    }
  }

  .float-left {
    float: left;

    img {
      padding: 1em 1em 1em 0;
    }
  }

  .inline {
    display: inline;

    img {
      padding: 0 0.5em;
    }
  }

  //Colors
  %is-green,
  .is-green {
    color: $c-green;
  }

  %is-bg-green,
  .is-bg-green {
    background-color: $c-green;
  }

  %is-blue,
  .is-blue {
    color: $c-blue;
  }

  %is-bg-blue,
  .is-bg-blue {
    background-color: $c-blue;
  }

  %is-navy,
  .is-navy {
    color: $c-navy;
  }

  %is-bg-navy,
  .is-bg-navy {
    background-color: $c-navy;
  }

  %is-grey,
  .is-grey {
    color: $c-grey;
  }

  %is-bg-grey,
  .is-bg-grey {
    background-color: $c-grey;
  }

  %is-grey-2,
  .is-grey-2 {
    color: $c-grey-2;
  }

  %is-bg-grey-2,
  .is-bg-grey-2 {
    background-color: $c-grey-2;
  }

  %is-grey-3,
  .is-grey-3 {
    color: $c-grey-3;
  }

  %is-bg-grey-3,
  .is-bg-grey-3 {
    background-color: $c-grey-3;
  }

  %is-red,
  .is-red {
    color: $c-red;
  }

  %is-bg-red,
  .is-bg-red {
    background-color: $c-red;
  }

  %is-purple,
  .is-purple {
    color: $c-purple;
  }

  %is-bg-purple,
  .is-bg-purple {
    background-color: $c-purple;
  }

  %is-aqua,
  .is-aqua {
    color: $c-aqua;
  }

  %is-bg-aqua,
  .is-bg-aqua {
    background-color: $c-aqua;
  }

  %is-orange,
  .is-orange {
    color: $c-orange;
  }

  %is-bg-orange,
  .is-bg-orange {
    background-color: $c-orange;
  }

  %is-white,
  .is-white {
    color: #fff;
  }

  %is-bg-white,
  .is-bg-white {
    background-color: #fff;
  }

  %is-black,
  .is-black {
    color: #000;
  }

  %is-bg-black,
  .is-bg-black {
    background-color: #000;
  }

  .has-bg-image {
    @include smakk-background-cover();
  }

  .has-icon {
    position: relative;
    pointer-events: all;
    cursor: pointer;
    &.icon-plus {
      &:after {
        content: '+';
        position: absolute;
        right: 20px;
        top: 8px;
        font-size: $scale-4;
        cursor: pointer;
        pointer-events: all;
      }
    }
    &.icon-minus {
      &:after {
        content: '–';
        position: absolute;
        right: 40px;
        top: 8px;
        font-size: $scale-4;
        cursor: pointer;
        pointer-events: all;
      }
    }
    &.icon-arrow {
      &:after {
        content: '';
        background-image: url(/assets/imgs/icons/arrow.min.svg);
        // fill: #fff;
        height: 30px;
        width: 30px;
        background-size: contain;
        position: absolute;
        right: 30px;
        bottom: 22px;
        font-size: $scale-5;
      }
      &.down {
        &:after {
          transform: rotate(90deg);
          font-size: $scale-3;
          @include smakk-breakpoint(large) {
            font-size: $scale-5;
          }
        }
      }
    }
  }
}
