// Variables for use across the mixins
$btn-bg-color: lightblue !default;
$btn-bg-color-hover: darken($btn-bg-color, 5%);
//Scale 1.333 perfect fourth
$scale-8: 7.4811em;
$scale-7: 4.5em;
$scale-6: 3em;
$scale-5: 2.5em;
$scale-4: 2em;
$scale-3: 1.777em;
$scale-2: 1.333em;
$scale-1: 1em;
$scale-0: 0.75em;

// Fonts
$font-primary: 'Inter', sans-serif;
$font-primary-var: 'Inter var', sans-serif;

// Weights
$weight-roman: 400;
$weight-medium: 500;
$weight-bold: 600;

// Colors
$c-green: #73d2cf;
$c-blue: #0067ff;
$c-navy: #1f28bf;
$c-grey: #f5f5f5;
$c-grey-1: #bcbfbf;
$c-grey-2: #808285;
$c-grey-3: #4a4a4a;
$c-red: #f04;
$c-purple: #8500ff;
$c-aqua: #00aded;
$c-orange: #f15818;

//Etc
$radius: 50px;
$height-xsm: 30vh;
$height-sm: 50vh;
$height-reg: 65vh;
$height-hi: 80vh;
