$logo-size: $font-size-2; // 14px

footer {
  background: $c-black;
  padding-block: rem-calc(87 193);

  a {
    color: $c-white;
    font-weight: $weight-bold;
    text-decoration: none;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: rem-calc(20);

  @include breakpoint(small only) {
  }
}

.footer-icons {
  display: flex;
  flex-direction: column;
}

/*
.footer-icon {
  font-size: $logo-size;
  height: $logo-size;
  line-height: 1;

  a {
    display: inline-block;
    line-height: 1;
  }

  svg {
    fill: currentColor;
    height: 1em;
    width: auto;
  }

  .nsvglogo {
    fill: $c-white;
  }

  .nsvglogo-x {
    fill: $c-green;
  }
}
*/

.footer-icon {
  display: block;

  a {
    transition: color var(--motion-speed) ease;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    fill: currentColor;
    height: 1em;
    line-height: 1;
    width: auto;
  }

  &.footer-icon--hyland {
    a:hover {
      color: $c-green-hyland;
    }

    svg {
      margin-left: -5px;
      font-size: 28px;
    }
  }

  &.footer-icon--nuxeo {
    a {
      path {
        transition: fill var(--motion-speed) ease;
      }

      .nsvglogo-x {
        fill: $c-green;
      }

      .nsvglogo {
        fill: $c-white;
      }

      &:hover {
        .nsvglogo-x {
          fill: $c-green;
        }

        .nsvglogo {
          fill: $c-green;
        }
      }
    }

    svg {
      font-size: 14px;
    }
  }
}

.button.button--university {
  background-color: transparent;
  border: 1px solid $c-white;
  color: $c-white;
  font-size: $font-size-2;
  margin: 0 0 0 1rem;
  padding: 0.4375rem 0.625rem;

  &:hover {
    background-color: rgba($c-white, 0.2);
    border: 1px solid $c-white;
  }

  @include breakpoint(small only) {
    display: none;
  }

  svg {
    font-size: $font-size-4;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
}
