.result-summary {
  font-size: $font-size-4;
}

.package-grid {
  gap: rem-calc(30 40);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(#{rem-calc(250)}, 1fr));
}

.package--item {
  display: flex;
  column-gap: rem-calc(20);
  text-decoration: none;

  a {
    color: $c-black;
    text-decoration: none;
  }

  .package-title {
    font-weight: $weight-bold;
  }

  .package-author {
    font-weight: $weight-bold;
  }

  .package-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; // See: https://stackoverflow.com/a/19049457
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .package-author,
  .package-owner,
  .package-description {
    font-size: $font-size-2;
  }
}

.contribute-link {
  text-align: center;
  color: $c-black;
  text-decoration: none;
}
