.section-title {
  font-size: $font-size-2;
  font-weight: $weight-bold;
  text-transform: uppercase;
  padding-block: 1rem 0.5rem;
}

.sidebar-section {
  ul {
    list-style: none;

    a {
      color: $c-black;
      display: inline-block;
      font-size: $font-size-2;
      padding-block: 0.5rem;
      text-decoration: none;
      transition: opacity var(--motion-speed) ease;

      &:hover,
      &:focus {
        opacity: $hover-opacity;
      }

      &.active {
        color: $c-blue;
      }
    }
  }

  &:first-of-type .section-title {
    padding-block-start: 0;
  }
}
