@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/* line 3, sass/_shame.scss */
.row {
  background: #fff;
}

/*
    a:link,a:visited
    {
        border-bottom: 2px solid transparent;
        text-decoration: none !important;
        color: inherit;
        .is-blue & {
            border-bottom: 2px solid $c-green;
            &:hover {
                border-bottom: 2px solid $c-blue;
            }
        }
      .is-bg-green & {
            &:hover {
                border-bottom: 2px solid $c-blue;
            }
        }
    }
    a:hover {
        color: inherit;
        border-bottom: 2px solid $c-green;
    }
*/
/* line 30, sass/_shame.scss */
div[data-include="menu-top"] {
  background: #0067FF;
  color: white;
  padding: 0.75em 1em;
}
@media (min-width: 64em) {
  /* line 30, sass/_shame.scss */
  div[data-include="menu-top"] {
    color: initial;
    background: none;
    padding: 0;
    background: #fff;
  }
}

/* line 41, sass/_shame.scss */
.top-bar {
  max-width: 1600px;
  margin: 0 auto;
  border-bottom: 2px solid #0067FF;
}

/* line 46, sass/_shame.scss */
.top-bar,
.top-bar ul {
  background-color: transparent;
}

/* line 50, sass/_shame.scss */
.top-bar-right .button, .top-bar-right input[type='submit'] {
  margin: 0;
}

/* line 53, sass/_shame.scss */
.menu-icon {
  border: 0;
  max-width: 30px;
  min-width: 0;
  padding: 10px;
  border-radius: 0;
  margin: 0;
  float: right;
  margin-top: 8px;
}
/* line 62, sass/_shame.scss */
.menu-icon:hover {
  border: 0;
  background: 0;
}

/* line 67, sass/_shame.scss */
.menu .nav-main {
  position: relative;
}

/* line 71, sass/_shame.scss */
.is-dropdown-submenu {
  border: none;
}

/* line 74, sass/_shame.scss */
.is-dropdown-submenu-parent {
  position: static;
}

/* line 77, sass/_shame.scss */
.dropdown.menu > li.is-dropdown-submenu-parent > a::after,
.dropdown.menu.vertical > li.opens-left > a::after,
.dropdown.menu.vertical > li.opens-right > a::after,
.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
  content: none;
}

/* line 83, sass/_shame.scss */
.dropdown.menu.large-horizontal > li.opens-right > .is-dropdown-submenu {
  top: 58px;
}

/* line 86, sass/_shame.scss */
.submenu {
  padding-left: 1.777em;
}

/* line 89, sass/_shame.scss */
.is-submenu-item {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
/* line 151, sass/_mixins-smakk.scss */
.is-submenu-item a {
  color: #fff;
  text-decoration: none;
  border-bottom: none;
}
/* line 155, sass/_mixins-smakk.scss */
.is-submenu-item a:hover {
  border-bottom: none;
}

/* line 93, sass/_shame.scss */
.dropdown .is-dropdown-submenu a {
  padding: 0;
}

/* line 97, sass/_shame.scss */
.is-dropdown-submenu.js-dropdown-active {
  display: flex;
}

@media print, screen and (min-width: 64em) {
  /* line 102, sass/_shame.scss */
  .row .row {
    margin-right: 0;
    margin-left: 0;
  }
}
/* line 108, sass/_shame.scss */
.orbit-container {
  height: auto;
  min-height: 30vh;
  padding: 0;
}

/* line 114, sass/_shame.scss */
.orbit-bullets {
  float: right;
  display: inline-block;
}

/* line 118, sass/_shame.scss */
.orbit-bullets button {
  min-width: 0;
  background-color: inherit;
}

/* line 122, sass/_shame.scss */
.orbit-bullets button:hover {
  background-color: inherit;
  color: inherit;
}

/* line 126, sass/_shame.scss */
.orbit-bullets button.is-active {
  background-color: inherit;
}

/* line 5, sass/_structures.scss */
.row {
  position: relative;
}

/* line 8, sass/_structures.scss */
.r-cards {
  font-size: 75%;
}

/* line 11, sass/_structures.scss */
.r-100vh {
  height: 100vh;
}

/* line 14, sass/_structures.scss */
.r-collapsing__panel {
  display: none;
  width: 100%;
}
@media (min-width: 64em) {
  /* line 14, sass/_structures.scss */
  .r-collapsing__panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}
/* line 23, sass/_structures.scss */
.r-collapsing__panel p {
  font-size: 18px;
}
@media (min-width: 64em) {
  /* line 23, sass/_structures.scss */
  .r-collapsing__panel p {
    font-size: 20px;
  }
}
/* line 29, sass/_structures.scss */
.r-collapsing--challenge .r-collapsing__panel {
  position: relative;
}
@media (min-width: 64em) {
  /* line 29, sass/_structures.scss */
  .r-collapsing--challenge .r-collapsing__panel {
    position: absolute;
  }
}

/* line 37, sass/_structures.scss */
.r-main .columns {
  min-height: 65vh;
}
/* line 40, sass/_structures.scss */
.r-masthead .columns {
  min-height: 30vh;
}
@media (min-width: 64em) {
  /* line 40, sass/_structures.scss */
  .r-masthead .columns {
    min-height: 50vh;
  }
}
/* line 46, sass/_structures.scss */
.r-thin .columns {
  min-height: 150px;
}
/* line 49, sass/_structures.scss */
.r-header .columns {
  align-items: center;
}
/* line 52, sass/_structures.scss */
.r-cards .columns {
  padding: 1em;
  min-height: 70px;
}
@media (min-width: 64em) {
  /* line 52, sass/_structures.scss */
  .r-cards .columns {
    min-height: 300px;
    max-height: 400px;
  }
}
/* line 60, sass/_structures.scss */
.r-cards--spaced .columns {
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.3);
  margin: 10px;
  max-width: calc(50% - 20px);
}
@media (min-width: 64em) {
  /* line 65, sass/_structures.scss */
  .spaced-by-4 .columns {
    max-width: calc(25% - 20px);
  }
}
@media (min-width: 64em) {
  /* line 70, sass/_structures.scss */
  .spaced-by-3 .columns {
    max-width: calc(33.3333% - 20px);
  }
}
/* line 75, sass/_structures.scss */
.spaced-by-2 .columns {
  min-height: 100px;
}
@media (min-width: 64em) {
  /* line 75, sass/_structures.scss */
  .spaced-by-2 .columns {
    min-height: 250px;
    max-height: 400px;
  }
}
/* line 83, sass/_structures.scss */
.r-collapsing .columns a:link {
  text-decoration: none;
}
/* line 90, sass/_structures.scss */
.r-casestudies .columns {
  margin-bottom: 30px;
  padding-bottom: 10px;
}

/* line 95, sass/_structures.scss */
.c-checker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1em;
}
/* line 98, sass/_structures.scss */
.r-main .c-checker {
  min-height: 50vh;
}
@media (min-width: 64em) {
  /* line 95, sass/_structures.scss */
  .c-checker {
    padding: 5.611em;
  }
  /* line 103, sass/_structures.scss */
  .r-main .c-checker {
    min-height: 65vh;
  }
}

@media (min-width: 64em) {
  /* line 108, sass/_structures.scss */
  .c-checker--small {
    padding: 2.369em;
  }
}

/* line 113, sass/_structures.scss */
.c-content {
  margin: auto;
  position: relative;
}

/* line 117, sass/_structures.scss */
.c-card__title {
  word-break: break-all;
}
/* line 120, sass/_structures.scss */
.c-card__title:link {
  text-decoration: none;
}

/* line 124, sass/_structures.scss */
.c-collapsing {
  position: relative;
}
/* line 126, sass/_structures.scss */
.r-cards .c-collapsing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* line 130, sass/_structures.scss */
.c-collapsing__title {
  cursor: pointer;
  pointer-events: all;
  margin-top: auto;
  margin-bottom: auto;
}

/* line 137, sass/_structures.scss */
.r-header {
  border-bottom: 2px solid #1F28BF;
}

/* line 140, sass/_structures.scss */
.r-challenge {
  padding: 1.333em;
}
@media (min-width: 64em) {
  /* line 140, sass/_structures.scss */
  .r-challenge {
    padding: 5.611em;
  }
}

/* line 146, sass/_structures.scss */
.c-challenge {
  padding: 1.333em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
@media (min-width: 64em) {
  /* line 146, sass/_structures.scss */
  .c-challenge {
    padding: 3.157em 4.209em;
    position: absolute;
    right: 0;
  }
}

/* line 155, sass/_structures.scss */
.challenge__text {
  margin-top: 3.157em;
  max-width: 400px;
}

/* line 160, sass/_structures.scss */
.r-casestudies .casestudies__text {
  padding: 30px;
}

/* line 164, sass/_structures.scss */
.c-testimonials {
  padding: 1em;
}
@media (min-width: 64em) {
  /* line 164, sass/_structures.scss */
  .c-testimonials {
    padding: 4.209em;
  }
  /* line 168, sass/_structures.scss */
  .c-testimonials p {
    font-size: 120%;
    line-height: 32px;
    margin-top: 0;
  }
}

/* line 176, sass/_structures.scss */
.c-testimonials--texty p {
  font-size: 1.777em;
  line-height: 1.2;
}
@media (min-width: 64em) {
  /* line 176, sass/_structures.scss */
  .c-testimonials--texty p {
    font-size: 3.157em;
    line-height: 1.1;
  }
}
/* line 184, sass/_structures.scss */
.c-testimonials--texty .orbit-slide {
  padding: 1.333em;
}
@media (min-width: 64em) {
  /* line 184, sass/_structures.scss */
  .c-testimonials--texty .orbit-slide {
    padding: 4.209em;
  }
}
/* line 190, sass/_structures.scss */
.c-testimonials--texty .orbit-bullets {
  float: left;
}
/* line 193, sass/_structures.scss */
.c-testimonials--texty .c-testimontials__link {
  float: right;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

/* line 199, sass/_structures.scss */
.c-testimonials__logo {
  display: block;
  margin-top: 1.777em;
}

/* line 209, sass/_structures.scss */
.c-crazycallout__bgimage {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 50vh;
}

/* line 213, sass/_structures.scss */
.c-crazycallout__box {
  padding: 1em 1.777em;
}
@media (min-width: 40em) {
  /* line 213, sass/_structures.scss */
  .c-crazycallout__box {
    position: absolute;
    top: 10%;
    padding: 4.209em;
  }
  /* line 219, sass/_structures.scss */
  .c-crazycallout__box.on-right {
    right: 10%;
  }
  /* line 222, sass/_structures.scss */
  .c-crazycallout__box.on-left {
    left: 10%;
  }
}

/* line 228, sass/_structures.scss */
.integrations {
  margin: 0;
}
@media (min-width: 64em) {
  /* line 228, sass/_structures.scss */
  .integrations {
    margin: 15px;
    margin-left: 5%;
  }
}

/* line 236, sass/_structures.scss */
.integrations__item {
  font-size: 16px;
  color: #0067FF;
  margin-left: 10px;
}
/* line 240, sass/_structures.scss */
.integrations__item:before {
  color: #73d2cf;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid;
  transition: all 200ms ease-out;
  display: inline-block;
  margin-right: 5px;
}
/* line 177, sass/_mixins-smakk.scss */
.integrations__item:before:hover.is-green, .integrations__item:before.is-active.is-green {
  background-color: #73d2cf;
}
/* line 177, sass/_mixins-smakk.scss */
.integrations__item:before:hover.is-white, .integrations__item:before.is-active.is-white {
  background-color: #fff;
}
/* line 177, sass/_mixins-smakk.scss */
.integrations__item:before:hover.is-blue, .integrations__item:before.is-active.is-blue {
  background-color: #0067FF;
}
/* line 248, sass/_structures.scss */
.integrations__item a:link {
  border: 0;
  color: #0067FF;
}
/* line 251, sass/_structures.scss */
.integrations__item a:link:hover {
  border-bottom: 2px solid #73d2cf;
}
@media (min-width: 64em) {
  /* line 236, sass/_structures.scss */
  .integrations__item {
    margin-left: 40px;
  }
}

/* line 259, sass/_structures.scss */
.integrations-arrow {
  font-size: 2.369em;
  color: #73d2cf;
  vertical-align: middle;
  margin-left: 80px;
  pointer-events: all;
  cursor: pointer;
}

/* line 3, sass/_base-smakk.scss */
html,
body {
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #fff;
  background: #F5F5F5;
}

/* line 10, sass/_base-smakk.scss */
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.c-card__title {
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 64em) {
  /* line 10, sass/_base-smakk.scss */
  h1,
  h2,
  h3,
  h4,
  .h1,
  .h2,
  .h3,
  .h4,
  .c-card__title {
    margin-bottom: 40px;
  }
}

/* line 24, sass/_base-smakk.scss */
h1,
.h1 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1;
}
/* line 107, sass/_mixins-smakk.scss */
h1,
.h1 {
  font-size: 2.2444em;
}
@media screen and (min-width: 37.5em) {
  /* line 107, sass/_mixins-smakk.scss */
  h1,
  .h1 {
    font-size: calc(2.2444em + 3.3666 * ((100vw - 37.5em) / 42.5));
  }
}
@media screen and (min-width: 80em) {
  /* line 107, sass/_mixins-smakk.scss */
  h1,
  .h1 {
    font-size: 5.611em;
  }
}

/* line 31, sass/_base-smakk.scss */
h2,
.h2,
h1.smaller {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 1.2;
}
/* line 107, sass/_mixins-smakk.scss */
h2,
.h2,
h1.smaller {
  font-size: 1.6836em;
}
@media screen and (min-width: 37.5em) {
  /* line 107, sass/_mixins-smakk.scss */
  h2,
  .h2,
  h1.smaller {
    font-size: calc(1.6836em + 2.5254 * ((100vw - 37.5em) / 42.5));
  }
}
@media screen and (min-width: 80em) {
  /* line 107, sass/_mixins-smakk.scss */
  h2,
  .h2,
  h1.smaller {
    font-size: 4.209em;
  }
}

/* line 39, sass/_base-smakk.scss */
h3,
.h3,
h2.smaller {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.3;
}
/* line 107, sass/_mixins-smakk.scss */
h3,
.h3,
h2.smaller {
  font-size: 1.2628em;
}
@media screen and (min-width: 37.5em) {
  /* line 107, sass/_mixins-smakk.scss */
  h3,
  .h3,
  h2.smaller {
    font-size: calc(1.2628em + 1.8942 * ((100vw - 37.5em) / 42.5));
  }
}
@media screen and (min-width: 80em) {
  /* line 107, sass/_mixins-smakk.scss */
  h3,
  .h3,
  h2.smaller {
    font-size: 3.157em;
  }
}

/* line 47, sass/_base-smakk.scss */
h2.smaller {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 800;
}

/* line 50, sass/_base-smakk.scss */
h4,
.h4,
.c-card__title,
h3.smaller {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}
/* line 107, sass/_mixins-smakk.scss */
h4,
.h4,
.c-card__title,
h3.smaller {
  font-size: 1.2628em;
}
@media screen and (min-width: 37.5em) {
  /* line 107, sass/_mixins-smakk.scss */
  h4,
  .h4,
  .c-card__title,
  h3.smaller {
    font-size: calc(1.2628em + 1.1062 * ((100vw - 37.5em) / 42.5));
  }
}
@media screen and (min-width: 80em) {
  /* line 107, sass/_mixins-smakk.scss */
  h4,
  .h4,
  .c-card__title,
  h3.smaller {
    font-size: 2.369em;
  }
}

/* line 58, sass/_base-smakk.scss */
p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 24px;
}

/* line 63, sass/_base-smakk.scss */
blockquote {
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  margin: 1.333em 0;
  max-width: 500px;
}
/* line 68, sass/_base-smakk.scss */
blockquote cite {
  margin-top: 3.157em;
  font-style: normal;
  display: block;
}
/* line 73, sass/_base-smakk.scss */
blockquote:after {
  content: '';
  position: absolute;
  height: 25px;
  width: 95px;
  bottom: 55px;
  background-image: url(svg/quotation-mark.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 84, sass/_base-smakk.scss */
a,
a:link, a:visited {
  border-bottom: 2px solid;
  text-decoration: none !important;
  color: inherit;
}
/* line 90, sass/_base-smakk.scss */
.is-blue a, .is-blue
a:link, .is-blue a:visited {
  border-bottom: 2px solid #73d2cf;
}
/* line 92, sass/_base-smakk.scss */
.is-blue a:hover, .is-blue
a:link:hover, .is-blue a:visited:hover {
  border-bottom: 2px solid #0067FF;
}
/* line 97, sass/_base-smakk.scss */
.is-bg-green a:hover, .is-bg-green
a:link:hover, .is-bg-green a:visited:hover {
  border-bottom: 2px solid #0067FF;
}

/* line 102, sass/_base-smakk.scss */
a:hover {
  color: inherit;
  border-bottom: 2px solid #73d2cf;
}

/* line 106, sass/_base-smakk.scss */
a.button {
  border: 1px transparent;
}
/* line 108, sass/_base-smakk.scss */
a.button:hover {
  border: 1px transparent;
}

/* line 112, sass/_base-smakk.scss */
a.h1, a.h2, a.h3, a.h4, a.c-card__title {
  border-bottom: 0;
}
/* line 114, sass/_base-smakk.scss */
a.h1:hover, a.h2:hover, a.h3:hover, a.h4:hover, a.c-card__title:hover {
  border-bottom: 0 !important;
}

/* line 121, sass/_base-smakk.scss */
label {
  color: #73d2cf;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  display: block;
}

/* line 126, sass/_base-smakk.scss */
input:not([type="submit"]),
select,
textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #0067FF;
  border-radius: 0;
  margin-top: 3.157em;
  margin-bottom: 1.333em;
  color: #73d2cf;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  padding: 2px;
  background: transparent;
}
/* line 139, sass/_base-smakk.scss */
input:not([type="submit"])::placeholder,
input:not([type="submit"]) option,
input:not([type="submit"]) label,
select::placeholder,
select option,
select label,
textarea::placeholder,
textarea option,
textarea label {
  color: #73d2cf;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
}

/* line 146, sass/_base-smakk.scss */
.select--styled {
  position: relative;
}
/* line 148, sass/_base-smakk.scss */
.select--styled select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 153, sass/_base-smakk.scss */
.select--styled:after {
  content: '';
  position: absolute;
  right: 8px;
  bottom: 35px;
  width: 15px;
  height: 15px;
  border: 2px solid blue;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  transform: rotate(45deg);
  pointer-events: none;
}

/* line 167, sass/_base-smakk.scss */
input[type='radio'],
input[type='checkbox'] {
  width: auto;
  margin-top: 0.75em;
}

/* line 172, sass/_base-smakk.scss */
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.44444rem;
  margin-right: 0.88889rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

/* line 180, sass/_base-smakk.scss */
input[type='submit'] {
  width: auto;
  border: 0;
}

/* line 185, sass/_base-smakk.scss */
button,
.button,
input[type='submit'] {
  -webkit-appearance: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  border: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50px;
  font-size: 0.75em;
  cursor: pointer;
  margin: 0 0.75em 1.333em;
  min-width: 190px;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.88889rem 4.209em 0.94444rem 4.209em;
  color: #fff;
  transition: all 300ms ease-out;
}
/* line 204, sass/_base-smakk.scss */
button:hover,
.button:hover,
input[type='submit']:hover {
  background: white;
  color: #0067FF;
  border: 1px solid #0067FF;
}

/* line 210, sass/_base-smakk.scss */
.button--ghost {
  border: 1px solid #fff !important;
  background: transparent;
}

/* line 214, sass/_base-smakk.scss */
.button--callout {
  background: #fff;
  color: #0067FF !important;
  border: 1px solid #fff !important;
}
/* line 218, sass/_base-smakk.scss */
.button--callout:hover {
  background: #0067FF;
  color: white !important;
  border: 1px solid #0067FF !important;
}

/* line 225, sass/_base-smakk.scss */
.icon {
  width: 80px;
  height: 100px;
  fill: black;
}

/* line 231, sass/_base-smakk.scss */
button.toggle__item,
.toggle__item {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid;
  transition: all 200ms ease-out;
}
/* line 177, sass/_mixins-smakk.scss */
button.toggle__item:hover.is-green, button.toggle__item.is-active.is-green,
.toggle__item:hover.is-green,
.toggle__item.is-active.is-green {
  background-color: #73d2cf;
}
/* line 177, sass/_mixins-smakk.scss */
button.toggle__item:hover.is-white, button.toggle__item.is-active.is-white,
.toggle__item:hover.is-white,
.toggle__item.is-active.is-white {
  background-color: #fff;
}
/* line 177, sass/_mixins-smakk.scss */
button.toggle__item:hover.is-blue, button.toggle__item.is-active.is-blue,
.toggle__item:hover.is-blue,
.toggle__item.is-active.is-blue {
  background-color: #0067FF;
}

/* line 237, sass/_base-smakk.scss */
.toggle__item--large {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid;
}
/* line 177, sass/_mixins-smakk.scss */
.toggle__item--large:hover.is-green, .toggle__item--large.is-active.is-green {
  background-color: #73d2cf;
}
/* line 177, sass/_mixins-smakk.scss */
.toggle__item--large:hover.is-white, .toggle__item--large.is-active.is-white {
  background-color: #fff;
}
/* line 177, sass/_mixins-smakk.scss */
.toggle__item--large:hover.is-blue, .toggle__item--large.is-active.is-blue {
  background-color: #0067FF;
}

/* line 242, sass/_base-smakk.scss */
.nav-main__item {
  color: #fff;
  font-size: 20px;
}
/* line 151, sass/_mixins-smakk.scss */
.nav-main__item a {
  color: #fff;
  text-decoration: none;
  border-bottom: none;
}
/* line 155, sass/_mixins-smakk.scss */
.nav-main__item a:hover {
  border-bottom: none;
}

/* line 246, sass/_base-smakk.scss */
.main-menu__logo {
  max-width: 120px;
  margin-right: 1.777em;
  vertical-align: -webkit-baseline-middle;
}

/* line 251, sass/_base-smakk.scss */
ul.nav-main__submenu {
  right: 0;
  background: #0067FF;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 259, sass/_base-smakk.scss */
.nav-main__subitem__text {
  display: none;
}

/* line 262, sass/_base-smakk.scss */
.nav-main__subitem__text a {
  display: none;
}

@media (min-width: 64em) {
  /* line 268, sass/_base-smakk.scss */
  .nav-main__item {
    color: #0067FF;
    font-size: 16px;
  }
  /* line 151, sass/_mixins-smakk.scss */
  .nav-main__item a {
    color: #0067FF;
    text-decoration: none;
    border-bottom: none;
  }
  /* line 155, sass/_mixins-smakk.scss */
  .nav-main__item a:hover {
    border-bottom: none;
  }

  /* line 271, sass/_base-smakk.scss */
  .nav-main__subitem {
    padding: 2.369em;
    max-width: 50%;
  }

  /* line 275, sass/_base-smakk.scss */
  a.nav-main__subitem__title {
    color: #73d2cf;
    font-size: 2.369em;
    padding: 0 !important;
    font-weight: 700;
  }

  /* line 281, sass/_base-smakk.scss */
  .nav-main__subitem__text {
    color: #fff;
    display: block;
    padding: 0 !important;
    margin: 1em 0;
  }

  /* line 287, sass/_base-smakk.scss */
  .nav-main__subitem__text a {
    display: inline-block;
    margin-top: 0.75em;
    color: #fff;
    font-size: 16px;
    border-bottom: 2px solid #73d2cf;
  }
  /* line 151, sass/_mixins-smakk.scss */
  .nav-main__subitem__text a a {
    color: #fff;
    text-decoration: none;
    border-bottom: none;
  }
  /* line 155, sass/_mixins-smakk.scss */
  .nav-main__subitem__text a a:hover {
    border-bottom: none;
  }
}
/* line 294, sass/_base-smakk.scss */
.nav-footer {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* line 297, sass/_base-smakk.scss */
.nav-footer__item {
  color: #1F28BF;
  font-size: 0.75em;
}
/* line 151, sass/_mixins-smakk.scss */
.nav-footer__item a {
  color: #1F28BF;
  text-decoration: none;
  border-bottom: none;
}
/* line 155, sass/_mixins-smakk.scss */
.nav-footer__item a:hover {
  border-bottom: none;
}

/* line 5, sass/_utilities.scss */
.integrations,
.inline-list {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}
/* line 10, sass/_utilities.scss */
.integrations li,
.inline-list li {
  display: inline-block;
}

/* line 15, sass/_utilities.scss */
.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* line 20, sass/_utilities.scss */
.is-flex-col {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 25, sass/_utilities.scss */
.padded0 {
  padding: 1em;
}

/* line 30, sass/_utilities.scss */
.padded {
  padding: 1em;
}
@media (min-width: 64em) {
  /* line 30, sass/_utilities.scss */
  .padded {
    padding: 5.611em;
  }
}

/* line 38, sass/_utilities.scss */
.padded2 {
  padding: 1em;
}
@media (min-width: 64em) {
  /* line 38, sass/_utilities.scss */
  .padded2 {
    padding: 3.157em;
  }
}

/* line 46, sass/_utilities.scss */
.padded3 {
  padding: 5.611em 2.369em;
}
@media (min-width: 64em) {
  /* line 46, sass/_utilities.scss */
  .padded3 {
    padding: 7.4811em;
  }
}

/* line 54, sass/_utilities.scss */
.paddedt0 {
  padding-top: 1.333em;
  padding-bottom: 1.333em;
}

/* line 60, sass/_utilities.scss */
.paddedt1 {
  padding-top: 2.369em;
  padding-bottom: 2.369em;
}

/* line 66, sass/_utilities.scss */
.paddedt3 {
  padding-top: 5.611em;
  padding-bottom: 5.611em;
}

/* line 72, sass/_utilities.scss */
.ally-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 83, sass/_utilities.scss */
.is-bold {
  font-weight: 700;
}

/* line 88, sass/_utilities.scss */
.is-bigger {
  font-size: 1.333em;
  line-height: 32px;
}

/* line 94, sass/_utilities.scss */
.is-smaller {
  font-size: 90%;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 20px;
}

/* line 103, sass/_utilities.scss */
* .underlined {
  position: relative;
  margin: 0;
  margin-bottom: 3em;
}
/* line 108, sass/_utilities.scss */
.underlined:after {
  content: '';
  width: 25px;
  height: 3px;
  border-radius: 20%;
  border: 2px solid;
  position: absolute;
  top: 40px;
  left: 0;
}

/* line 120, sass/_utilities.scss */
.superhead {
  top: -70px;
}

/* line 125, sass/_utilities.scss */
.text-center {
  text-align: center;
}

/* line 130, sass/_utilities.scss */
.is-green {
  color: #73d2cf;
}
/* line 133, sass/_utilities.scss */
.is-green.icon {
  fill: #73d2cf;
}

/* line 138, sass/_utilities.scss */
.is-bg-green {
  background-color: #73d2cf;
}

/* line 143, sass/_utilities.scss */
.is-blue {
  color: #0067FF;
}
/* line 146, sass/_utilities.scss */
.is-blue.icon {
  fill: #0067FF;
}

/* line 151, sass/_utilities.scss */
.is-bg-blue {
  background-color: #0067FF;
}

/* line 156, sass/_utilities.scss */
.is-navy {
  color: #1F28BF;
}
/* line 159, sass/_utilities.scss */
.is-navy.icon {
  fill: #1F28BF;
}

/* line 164, sass/_utilities.scss */
.is-bg-navy {
  background-color: #1F28BF;
}

/* line 169, sass/_utilities.scss */
.is-grey {
  color: #F5F5F5;
}
/* line 172, sass/_utilities.scss */
.is-grey.icon {
  fill: #F5F5F5;
}

/* line 177, sass/_utilities.scss */
.is-bg-grey {
  background-color: #F5F5F5;
}

/* line 182, sass/_utilities.scss */
.is-grey-2 {
  color: #808285;
}
/* line 185, sass/_utilities.scss */
.is-grey-2.icon {
  fill: #808285;
}

/* line 190, sass/_utilities.scss */
.is-bg-grey-2 {
  background-color: #808285;
}

/* line 195, sass/_utilities.scss */
.is-grey-3 {
  color: #4a4a4a;
}
/* line 198, sass/_utilities.scss */
.is-grey-3.icon {
  fill: #4a4a4a;
}

/* line 203, sass/_utilities.scss */
.is-bg-grey-3 {
  background-color: #4a4a4a;
}

/* line 208, sass/_utilities.scss */
.is-red {
  color: #FF0044;
}
/* line 211, sass/_utilities.scss */
.is-red.icon {
  fill: #FF0044;
}

/* line 216, sass/_utilities.scss */
.is-bg-red {
  background-color: #FF0044;
}

/* line 221, sass/_utilities.scss */
.is-purple {
  color: #8500FF;
}
/* line 224, sass/_utilities.scss */
.is-purple.icon {
  fill: #8500FF;
}

/* line 229, sass/_utilities.scss */
.is-bg-purple {
  background-color: #8500FF;
}

/* line 234, sass/_utilities.scss */
.is-aqua {
  color: #00ADED;
}
/* line 237, sass/_utilities.scss */
.is-aqua.icon {
  fill: #00ADED;
}

/* line 242, sass/_utilities.scss */
.is-bg-aqua {
  background-color: #00ADED;
}

/* line 247, sass/_utilities.scss */
.is-orange {
  color: #F15818;
}
/* line 250, sass/_utilities.scss */
.is-orange.icon {
  fill: #F15818;
}

/* line 255, sass/_utilities.scss */
.is-bg-orange {
  background-color: #F15818;
}

/* line 260, sass/_utilities.scss */
.is-white {
  color: #fff;
}
/* line 263, sass/_utilities.scss */
.is-white.icon {
  fill: #fff;
}

/* line 268, sass/_utilities.scss */
.is-bg-white {
  background-color: #fff;
}

/* line 273, sass/_utilities.scss */
.is-black {
  color: #000;
}
/* line 276, sass/_utilities.scss */
.is-black.icon {
  fill: #000;
}

/* line 281, sass/_utilities.scss */
.is-bg-black {
  background-color: #000;
}

/* line 286, sass/_utilities.scss */
.has-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 290, sass/_utilities.scss */
svg {
  fill: currentColor;
}

/* line 294, sass/_utilities.scss */
.has-icon {
  position: relative;
}
/* line 297, sass/_utilities.scss */
.has-icon.icon-plus:after {
  content: '+';
  position: absolute;
  right: 20px;
  top: 8px;
  font-size: 2.369em;
  cursor: pointer;
  pointer-events: all;
}
/* line 308, sass/_utilities.scss */
.has-icon.icon-minus:after {
  content: '–';
  position: absolute;
  right: 40px;
  top: 8px;
  font-size: 2.369em;
  cursor: pointer;
  pointer-events: all;
}
/* line 319, sass/_utilities.scss */
.has-icon.icon-arrow:after {
  content: '➡';
  color: #fff;
  position: absolute;
  right: 35px;
  bottom: 10px;
  font-size: 3.157em;
}
/* line 328, sass/_utilities.scss */
.has-icon.icon-arrow.down:after {
  content: '➧';
  transform: rotate(90deg);
  font-size: 1.777em;
}
@media (min-width: 64em) {
  /* line 328, sass/_utilities.scss */
  .has-icon.icon-arrow.down:after {
    font-size: 3.157em;
  }
}
