@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/* line 111, sass/_shame.scss */
.orbit-slide {
  padding: 1.333em;
}
@media (min-width: 64em) {
  /* line 111, sass/_shame.scss */
  .orbit-slide {
    padding: 4.209em;
  }
}

/* line 117, sass/_shame.scss */
.tabs {
  background: transparent;
  border: 0;
}

/* line 123, sass/_shame.scss */
.tabs-title > a, .tabs-title a:link {
  padding: 0;
  opacity: .7;
  font-size: initial;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
/* line 129, sass/_shame.scss */
.tabs-title > a[aria-selected='true'], .tabs-title > a:hover, .tabs-title a:link[aria-selected='true'], .tabs-title a:link:hover {
  opacity: 1;
  background: transparent;
  color: #0067FF !important;
  border-bottom: 2px solid #73d2cf;
}

/* line 139, sass/_shame.scss */
.tabs-panel {
  padding: 0;
}

/* line 142, sass/_shame.scss */
.tabs-content {
  color: inherit;
  border: 0;
}

/* line 2, sass/_shame.scss */
.row {
  max-width: 1800px;
}

/* line 5, sass/_shame.scss */
#menu-top {
  background: #0067FF;
  color: white;
  padding: 0.75em 1em;
}
@media (min-width: 64em) {
  /* line 5, sass/_shame.scss */
  #menu-top {
    color: initial;
    background: none;
    padding: 0;
    background: #fff;
  }
}

/* line 16, sass/_shame.scss */
.top-bar {
  max-width: 1600px;
  margin: 0 auto;
  border-bottom: 2px solid #0067FF;
}

/* line 21, sass/_shame.scss */
.top-bar,
.top-bar ul {
  background-color: transparent;
  width: 100%;
  align-items: center;
}

/* line 27, sass/_shame.scss */
.top-bar-right .button {
  margin: 0;
}

/* line 30, sass/_shame.scss */
.menu-icon {
  border: 0;
  max-width: 30px;
  min-width: 0;
  padding: 10px;
  border-radius: 0;
  margin: 0;
  float: right;
  margin-top: 8px;
}
/* line 39, sass/_shame.scss */
.menu-icon:hover {
  border: 0;
  background: 0;
}

/* line 44, sass/_shame.scss */
.menu .nav-main {
  position: relative;
}

/* line 48, sass/_shame.scss */
.menu a, .menu .button {
  margin: .3em 0;
}

/* line 51, sass/_shame.scss */
.is-dropdown-submenu {
  border: none;
}

/* line 54, sass/_shame.scss */
.is-dropdown-submenu-parent {
  position: static;
}

/* line 57, sass/_shame.scss */
.dropdown.menu > li.is-dropdown-submenu-parent > a::after,
.dropdown.menu.vertical > li.opens-left > a::after,
.dropdown.menu.vertical > li.opens-right > a::after,
.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
  content: none;
}

/* line 63, sass/_shame.scss */
.dropdown.menu.large-horizontal > li.opens-right > .is-dropdown-submenu {
  top: 58px;
}

/* line 66, sass/_shame.scss */
.submenu {
  padding-left: 1.777em;
}

/* line 69, sass/_shame.scss */
.is-submenu-item {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
/* line 151, sass/_mixins-smakk.scss */
.is-submenu-item a {
  color: #fff;
  text-decoration: none;
  border-bottom: none;
}
/* line 155, sass/_mixins-smakk.scss */
.is-submenu-item a:hover {
  border-bottom: none;
}

/* line 73, sass/_shame.scss */
.dropdown .is-dropdown-submenu a {
  padding: 0;
}

/* line 77, sass/_shame.scss */
.is-dropdown-submenu.js-dropdown-active {
  display: flex;
}

@media print, screen and (min-width: 64em) {
  /* line 82, sass/_shame.scss */
  .row .row {
    margin-right: 0;
    margin-left: 0;
  }
}
/* line 88, sass/_shame.scss */
.orbit-container {
  height: auto;
  min-height: 30vh;
  padding: 0;
}

/* line 94, sass/_shame.scss */
.orbit-bullets {
  float: left;
  display: inline-block;
}

/* line 98, sass/_shame.scss */
.orbit-bullets button {
  min-width: 0;
  background-color: inherit;
}

/* line 102, sass/_shame.scss */
.orbit-bullets button:hover {
  background-color: inherit;
  color: inherit;
}

/* line 106, sass/_shame.scss */
.orbit-bullets button.is-active {
  background-color: inherit;
}

/* line 5, sass/_structures.scss */
.row {
  position: relative;
  background: #fff;
}

/* line 9, sass/_structures.scss */
.r-cards {
  font-size: .9rem;
}

/* line 12, sass/_structures.scss */
.r-collapsing__panel {
  display: none;
  width: 100%;
}
@media (min-width: 64em) {
  /* line 12, sass/_structures.scss */
  .r-collapsing__panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}
/* line 21, sass/_structures.scss */
.r-collapsing__panel p {
  font-size: 18px;
}
@media (min-width: 64em) {
  /* line 21, sass/_structures.scss */
  .r-collapsing__panel p {
    font-size: 20px;
  }
}
/* line 27, sass/_structures.scss */
.r-collapsing--challenge .r-collapsing__panel {
  position: relative;
}
@media (min-width: 64em) {
  /* line 27, sass/_structures.scss */
  .r-collapsing--challenge .r-collapsing__panel {
    position: absolute;
  }
}

/* line 34, sass/_structures.scss */
.r-challenge2 {
  min-height: 100vh;
  padding: 1.777em;
}
@media (min-width: 64em) {
  /* line 34, sass/_structures.scss */
  .r-challenge2 {
    padding: 7.4811em;
  }
}

/* line 41, sass/_structures.scss */
.r-challenge2.solution {
  z-index: 100;
}

/* line 45, sass/_structures.scss */
.cover {
  background-size: cover;
}

/* line 50, sass/_structures.scss */
.r-main .columns {
  min-height: 65vh;
}
/* line 53, sass/_structures.scss */
.r-high .columns {
  min-height: 80vh;
}
/* line 56, sass/_structures.scss */
.r-100vh .columns {
  min-height: 100vh;
}
/* line 59, sass/_structures.scss */
.r-masthead .columns {
  min-height: 30vh;
}
@media (min-width: 64em) {
  /* line 59, sass/_structures.scss */
  .r-masthead .columns {
    min-height: 50vh;
  }
}
/* line 65, sass/_structures.scss */
.r-thin .columns {
  min-height: 150px;
  padding-top: 1.777em;
  padding-bottom: 1.777em;
}
/* line 70, sass/_structures.scss */
.r-header .columns {
  align-items: center;
}
/* line 73, sass/_structures.scss */
.r-cards .columns {
  padding: 1.333em;
  min-height: 100px;
}
@media (min-width: 64em) {
  /* line 73, sass/_structures.scss */
  .r-cards .columns {
    padding: 2.369em 1.333em;
    min-height: 300px;
    max-height: 400px;
  }
}
/* line 81, sass/_structures.scss */
.r-form .r-cards .columns {
  padding: 1em !important;
}
/* line 85, sass/_structures.scss */
.r-cards--spaced .columns {
  box-shadow: 0 14px 10px -10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  max-width: calc(50% - 20px);
}
/* line 89, sass/_structures.scss */
#certification .r-cards--spaced .columns {
  min-height: 200px;
  margin-bottom: 2.369em;
  word-break: break-word;
}
/* line 93, sass/_structures.scss */
#certification .r-cards--spaced .columns p {
  font-size: 1.777em;
}
@media (min-width: 64em) {
  /* line 98, sass/_structures.scss */
  .spaced-by-4 .columns {
    max-width: calc(25% - 20px);
  }
}
@media (min-width: 64em) {
  /* line 103, sass/_structures.scss */
  .spaced-by-3 .columns {
    max-width: calc(33.3333% - 20px);
  }
}
/* line 108, sass/_structures.scss */
.spaced-by-2 .columns {
  min-height: 150px;
}
@media (min-width: 64em) {
  /* line 108, sass/_structures.scss */
  .spaced-by-2 .columns {
    min-height: 250px;
    max-height: 400px;
  }
}
/* line 116, sass/_structures.scss */
.r-collapsing .columns a:link {
  text-decoration: none;
}
/* line 121, sass/_structures.scss */
.r-cards .r-collapsing__panel .columns {
  padding-top: 50px;
}
/* line 125, sass/_structures.scss */
.r-casestudies .columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 2.369em;
}

/* line 131, sass/_structures.scss */
.c-checker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2.369em;
}
@media (min-width: 64em) {
  /* line 131, sass/_structures.scss */
  .c-checker {
    padding: 7.4811em;
  }
  /* line 136, sass/_structures.scss */
  .r-main .c-checker {
    min-height: 65vh;
  }
}
/* line 140, sass/_structures.scss */
.r-main .c-checker {
  min-height: 50vh;
}
/* line 143, sass/_structures.scss */
.r-thin .c-checker {
  padding: 2.369em;
}

@media (min-width: 64em) {
  /* line 147, sass/_structures.scss */
  .c-checker--small {
    padding: 2.369em;
  }
}

/* line 152, sass/_structures.scss */
.c-content {
  margin: auto;
  position: relative;
}

/* line 156, sass/_structures.scss */
.c-title {
  padding-top: 3.157em !important;
}

/* line 159, sass/_structures.scss */
.c-card__title {
  word-break: break-all;
}
/* line 162, sass/_structures.scss */
.c-card__title:link {
  text-decoration: none;
}

/* line 166, sass/_structures.scss */
.c-collapsing {
  position: relative;
}
/* line 168, sass/_structures.scss */
.r-cards .c-collapsing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* line 172, sass/_structures.scss */
.c-collapsing__title {
  cursor: pointer;
  pointer-events: all;
  margin-top: auto;
  margin-bottom: auto;
}

/* line 179, sass/_structures.scss */
.r-header {
  border-bottom: 2px solid #1F28BF;
}

/* line 182, sass/_structures.scss */
.r-challenge {
  padding-top: 3.157em;
}
/* line 184, sass/_structures.scss */
.r-challenge picture > img {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: none;
}
@media (min-width: 64em) {
  /* line 182, sass/_structures.scss */
  .r-challenge {
    padding-bottom: 250px;
  }
  /* line 195, sass/_structures.scss */
  .r-challenge picture > img {
    margin: auto;
    position: static;
    left: auto;
    right: auto;
    width: 100%;
  }
  /* line 202, sass/_structures.scss */
  .r-challenge:last-of-type ~ * {
    padding-top: 40px;
  }
}

/* line 207, sass/_structures.scss */
.c-challenge,
.c-solution {
  padding: 1.333em;
}
@media (min-width: 64em) {
  /* line 207, sass/_structures.scss */
  .c-challenge,
  .c-solution {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    min-height: 750px;
    position: absolute;
    right: 10%;
    top: 20%;
    padding: 4.209em;
  }
  /* line 219, sass/_structures.scss */
  .c-challenge.left,
  .c-solution.left {
    left: 8%;
    right: auto;
  }
}

/* line 225, sass/_structures.scss */
.challenge__img {
  max-height: 250px;
}
@media (min-width: 64em) {
  /* line 225, sass/_structures.scss */
  .challenge__img {
    height: auto;
  }
}

/* line 231, sass/_structures.scss */
.challenge__text {
  margin-top: 3.157em;
  max-width: 80%;
  font-size: 1.333em;
  line-height: 1.2;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
}
@media (min-width: 64em) {
  /* line 231, sass/_structures.scss */
  .challenge__text {
    max-width: 400px;
    font-size: 18px;
  }
}

/* line 243, sass/_structures.scss */
.casestudies__text {
  padding: 30px;
  flex-basis: 300px;
  margin-top: auto;
  width: 100%;
}

/* line 249, sass/_structures.scss */
.casestudies__logo {
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 200px;
}
@media (min-width: 40em) {
  /* line 249, sass/_structures.scss */
  .casestudies__logo {
    flex-basis: 400px;
    background: #F5F5F5;
  }
}
/* line 258, sass/_structures.scss */
.casestudies__logo img {
  margin: auto;
}

/* line 262, sass/_structures.scss */
.c-testimonials {
  padding: 1em;
}
@media (min-width: 64em) {
  /* line 262, sass/_structures.scss */
  .c-testimonials {
    padding: 4.209em;
  }
}

/* line 268, sass/_structures.scss */
.c-testimonials__text {
  font-size: 1.777em;
  line-height: 1.2;
}
@media (min-width: 64em) {
  /* line 268, sass/_structures.scss */
  .c-testimonials__text {
    font-size: 3.157em;
    line-height: 1.1;
  }
}

/* line 276, sass/_structures.scss */
.c-testimontials__link {
  float: right;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

/* line 281, sass/_structures.scss */
.c-testimonials__logo {
  display: block;
  margin-top: 1.777em;
  margin-left: auto;
}

/* line 287, sass/_structures.scss */
.c-crazycallout__bgimage {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 50vh;
}

/* line 291, sass/_structures.scss */
.c-crazycallout__box {
  padding: 1em 1.777em;
}
@media (min-width: 40em) {
  /* line 291, sass/_structures.scss */
  .c-crazycallout__box {
    position: absolute;
    top: 10%;
    padding: 4.209em;
  }
  /* line 297, sass/_structures.scss */
  .c-crazycallout__box.on-right {
    right: 10%;
  }
  /* line 300, sass/_structures.scss */
  .c-crazycallout__box.on-left {
    left: 10%;
  }
}

/* line 305, sass/_structures.scss */
.r-learn {
  padding: 1.777em;
}
/* line 307, sass/_structures.scss */
.r-learn .columns:last-child {
  border-bottom: 3px solid #0067FF;
}
@media (min-width: 64em) {
  /* line 305, sass/_structures.scss */
  .r-learn {
    padding: 1.777em 5.611em 3.157em;
  }
  /* line 312, sass/_structures.scss */
  .r-learn .columns {
    border-bottom: 3px solid #0067FF;
  }
  /* line 314, sass/_structures.scss */
  .r-learn .columns:first-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

/* line 321, sass/_structures.scss */
.c-article {
  font-size: 14px;
}
/* line 323, sass/_structures.scss */
.c-article > * {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  color: #000;
}
/* line 327, sass/_structures.scss */
.c-article .c-article__author {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 2.369em;
  margin-bottom: 1.333em;
}
/* line 333, sass/_structures.scss */
.c-article p {
  font-size: 1em;
  margin-bottom: 1.777em;
}
/* line 337, sass/_structures.scss */
.c-article h2,
.c-article h3,
.c-article h4 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.333em;
  margin-bottom: 1em;
}
/* line 345, sass/_structures.scss */
.c-article a:link {
  color: #0067FF;
  border-bottom: 1px solid #73d2cf;
}
/* line 349, sass/_structures.scss */
.c-article a:visited {
  color: #8500FF;
}
/* line 352, sass/_structures.scss */
.c-article a:hover {
  color: #73d2cf;
}

/* line 358, sass/_structures.scss */
#certification .icon {
  margin-top: 2.369em;
}
/* line 361, sass/_structures.scss */
#certification p {
  font-size: 16px;
}

/* line 366, sass/_structures.scss */
.integrations {
  margin: 0;
}

/* line 370, sass/_structures.scss */
.integrations__item, .tabs-title {
  font-size: 16px;
  color: #0067FF;
  margin-left: 10px;
}
/* line 374, sass/_structures.scss */
.integrations__item:before, .tabs-title:before {
  color: #73d2cf;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid;
  transition: all 200ms ease-out;
  display: inline-block;
  margin-right: 5px;
}
/* line 177, sass/_mixins-smakk.scss */
.integrations__item:before:hover.is-green, .tabs-title:before:hover.is-green, .integrations__item:before.is-active.is-green, .tabs-title:before.is-active.is-green {
  background-color: #73d2cf;
  border-color: #73d2cf;
}
/* line 177, sass/_mixins-smakk.scss */
.integrations__item:before:hover.is-white, .tabs-title:before:hover.is-white, .integrations__item:before.is-active.is-white, .tabs-title:before.is-active.is-white {
  background-color: #fff;
  border-color: #fff;
}
/* line 177, sass/_mixins-smakk.scss */
.integrations__item:before:hover.is-blue, .tabs-title:before:hover.is-blue, .integrations__item:before.is-active.is-blue, .tabs-title:before.is-active.is-blue {
  background-color: #0067FF;
  border-color: #0067FF;
}
/* line 382, sass/_structures.scss */
.integrations__item a:link, .tabs-title a:link {
  border: 0;
  color: #0067FF;
}
/* line 385, sass/_structures.scss */
.integrations__item a:link:hover, .tabs-title a:link:hover {
  border-bottom: 2px solid #73d2cf;
}
@media (min-width: 64em) {
  /* line 370, sass/_structures.scss */
  .integrations__item, .tabs-title {
    margin-left: 40px;
  }
}

/* line 393, sass/_structures.scss */
.integrations-arrow {
  font-size: 2.369em;
  color: #73d2cf;
  vertical-align: middle;
  pointer-events: all;
  cursor: pointer;
}
@media (min-width: 64em) {
  /* line 393, sass/_structures.scss */
  .integrations-arrow {
    margin-left: 80px;
  }
}

/* line 403, sass/_structures.scss */
.flip {
  transform: rotate(180deg);
}

/* line 3, sass/_base-smakk.scss */
html,
body {
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #fff;
  background: #F5F5F5;
  overflow-x: hidden;
}

/* line 11, sass/_base-smakk.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 16, sass/_base-smakk.scss */
.cf:after {
  clear: both;
}

/* line 19, sass/_base-smakk.scss */
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.c-card__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 800;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 64em) {
  /* line 19, sass/_base-smakk.scss */
  h1,
  h2,
  h3,
  h4,
  .h1,
  .h2,
  .h3,
  .h4,
  .c-card__title {
    margin-bottom: 40px;
  }
}

/* line 34, sass/_base-smakk.scss */
h1,
.h1 {
  letter-spacing: -2px;
  line-height: 1.1;
}
/* line 107, sass/_mixins-smakk.scss */
h1,
.h1 {
  font-size: 2.2444em;
}
@media screen and (min-width: 37.5em) {
  /* line 107, sass/_mixins-smakk.scss */
  h1,
  .h1 {
    font-size: calc(2.2444em + 3.3666 * ((100vw - 37.5em) / 42.5));
  }
}
@media screen and (min-width: 80em) {
  /* line 107, sass/_mixins-smakk.scss */
  h1,
  .h1 {
    font-size: 5.611em;
  }
}

/* line 40, sass/_base-smakk.scss */
h2,
.h2,
h1.smaller {
  letter-spacing: -1px;
  line-height: 1.2;
}
/* line 107, sass/_mixins-smakk.scss */
h2,
.h2,
h1.smaller {
  font-size: 2.2444em;
}
@media screen and (min-width: 37.5em) {
  /* line 107, sass/_mixins-smakk.scss */
  h2,
  .h2,
  h1.smaller {
    font-size: calc(2.2444em + 1.9646 * ((100vw - 37.5em) / 42.5));
  }
}
@media screen and (min-width: 80em) {
  /* line 107, sass/_mixins-smakk.scss */
  h2,
  .h2,
  h1.smaller {
    font-size: 4.209em;
  }
}

/* line 47, sass/_base-smakk.scss */
h3,
.h3,
h2.smaller {
  letter-spacing: -1px;
  line-height: 1.3;
}
/* line 107, sass/_mixins-smakk.scss */
h3,
.h3,
h2.smaller {
  font-size: 1.6836em;
}
@media screen and (min-width: 37.5em) {
  /* line 107, sass/_mixins-smakk.scss */
  h3,
  .h3,
  h2.smaller {
    font-size: calc(1.6836em + 1.4734 * ((100vw - 37.5em) / 42.5));
  }
}
@media screen and (min-width: 80em) {
  /* line 107, sass/_mixins-smakk.scss */
  h3,
  .h3,
  h2.smaller {
    font-size: 3.157em;
  }
}

/* line 54, sass/_base-smakk.scss */
h4,
.h4,
.c-card__title,
h3.smaller {
  margin-bottom: 20px;
  line-height: 1.2;
}
/* line 107, sass/_mixins-smakk.scss */
h4,
.h4,
.c-card__title,
h3.smaller {
  font-size: 1.2628em;
}
@media screen and (min-width: 37.5em) {
  /* line 107, sass/_mixins-smakk.scss */
  h4,
  .h4,
  .c-card__title,
  h3.smaller {
    font-size: calc(1.2628em + 1.1062 * ((100vw - 37.5em) / 42.5));
  }
}
@media screen and (min-width: 80em) {
  /* line 107, sass/_mixins-smakk.scss */
  h4,
  .h4,
  .c-card__title,
  h3.smaller {
    font-size: 2.369em;
  }
}

/* line 61, sass/_base-smakk.scss */
p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
@media (min-width: 64em) {
  /* line 61, sass/_base-smakk.scss */
  p {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
}

/* line 70, sass/_base-smakk.scss */
blockquote {
  position: relative;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  margin: 1.333em 0;
  max-width: 500px;
  font-size: 18px;
}
/* line 76, sass/_base-smakk.scss */
blockquote cite {
  margin-top: 3.157em;
  font-style: normal;
  display: block;
}
/* line 81, sass/_base-smakk.scss */
blockquote:after {
  content: '';
  position: absolute;
  height: 25px;
  width: 95px;
  bottom: 55px;
  background-image: url(svg/quotation-mark.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 92, sass/_base-smakk.scss */
a,
a:link,
a:visited {
  border-bottom: 2px solid;
  text-decoration: none !important;
  color: inherit;
}
/* line 98, sass/_base-smakk.scss */
.is-blue a, .is-blue
a:link, .is-blue
a:visited {
  border-bottom: 2px solid #73d2cf;
}
/* line 100, sass/_base-smakk.scss */
.is-blue a:hover, .is-blue
a:link:hover, .is-blue
a:visited:hover {
  border-bottom: 2px solid #0067FF;
}
/* line 104, sass/_base-smakk.scss */
.is-bg-green a, .is-bg-green
a:link, .is-bg-green
a:visited {
  border-bottom: 2px solid #0067FF;
}

/* line 108, sass/_base-smakk.scss */
a:hover {
  color: inherit;
  border-bottom: 2px solid #73d2cf;
}

/* line 112, sass/_base-smakk.scss */
a.h1,
a.h2,
a.h3,
a.h4,
a.c-card__title,
a.columns {
  border-bottom: 0 !important;
}

/* line 120, sass/_base-smakk.scss */
label {
  color: #73d2cf;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  display: block;
}

/* line 125, sass/_base-smakk.scss */
input:not([type="submit"]),
select,
textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #0067FF;
  border-radius: 0;
  margin-top: 3.157em;
  margin-bottom: 1.333em;
  color: #73d2cf;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  padding: 2px;
  background: transparent;
}
/* line 138, sass/_base-smakk.scss */
input:not([type="submit"])::placeholder,
input:not([type="submit"]) option,
input:not([type="submit"]) label,
select::placeholder,
select option,
select label,
textarea::placeholder,
textarea option,
textarea label {
  color: #73d2cf;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
}

/* line 145, sass/_base-smakk.scss */
.select--styled {
  position: relative;
}
/* line 147, sass/_base-smakk.scss */
.select--styled select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 152, sass/_base-smakk.scss */
.select--styled:after {
  content: '';
  position: absolute;
  right: 8px;
  bottom: 35px;
  width: 15px;
  height: 15px;
  border: 2px solid blue;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  transform: rotate(45deg);
  pointer-events: none;
}

/* line 166, sass/_base-smakk.scss */
input[type='radio'],
input[type='checkbox'] {
  width: auto;
  margin-top: 0.75em;
}

/* line 171, sass/_base-smakk.scss */
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.44444rem;
  margin-right: 0.88889rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

/* line 179, sass/_base-smakk.scss */
input[type='submit'] {
  width: auto;
  border: 0;
}

/* line 185, sass/_base-smakk.scss */
.box {
  background: #F5F5F5;
  padding: 1.333em;
  box-shadow: 0 14px 10px -10px rgba(0, 0, 0, 0.2);
  margin: 1.333em;
}
/* line 190, sass/_base-smakk.scss */
.box label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 800;
  color: #0067FF;
  font-size: 1.777em;
}
/* line 195, sass/_base-smakk.scss */
.box input:not([type="submit"]), .box select, .box textarea {
  border: 0;
  margin-top: 0;
  font-size: 14px;
  background: #fff;
  padding: 0.75em;
}

/* line 203, sass/_base-smakk.scss */
button,
a.button,
input[type='submit'] {
  -webkit-appearance: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  border: 2px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 0.75em 1.333em;
  min-width: 190px;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.88889rem 4.209em 0.94444rem 4.209em;
  color: #fff;
  transition: all 300ms ease-out;
}
/* line 222, sass/_base-smakk.scss */
button:hover,
a.button:hover,
input[type='submit']:hover {
  background: white;
  color: #0067FF;
  border: 2px solid #0067FF;
}
/* line 227, sass/_base-smakk.scss */
button.button--ghost,
a.button.button--ghost,
input.button--ghost[type='submit'] {
  border: 1px solid #fff !important;
  background: transparent;
}
/* line 230, sass/_base-smakk.scss */
button.button--ghost:hover,
a.button.button--ghost:hover,
input.button--ghost[type='submit']:hover {
  background: white;
  color: #0067FF;
  border: 1px solid #0067FF !important;
}
/* line 236, sass/_base-smakk.scss */
button.button--callout,
a.button.button--callout,
input.button--callout[type='submit'] {
  background: #fff;
  color: #0067FF !important;
  border: 2px solid #fff !important;
}
/* line 240, sass/_base-smakk.scss */
button.button--callout:hover,
a.button.button--callout:hover,
input.button--callout[type='submit']:hover {
  background: #0067FF;
  color: white !important;
  border: 2px solid #0067FF !important;
}

/* line 248, sass/_base-smakk.scss */
svg {
  fill: currentColor;
}

/* line 252, sass/_base-smakk.scss */
.icon {
  width: 80px;
  height: 100px;
}

/* line 257, sass/_base-smakk.scss */
button.toggle__item,
.toggle__item {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid;
  transition: all 200ms ease-out;
}
/* line 177, sass/_mixins-smakk.scss */
button.toggle__item:hover.is-green, button.toggle__item.is-active.is-green,
.toggle__item:hover.is-green,
.toggle__item.is-active.is-green {
  background-color: #73d2cf;
  border-color: #73d2cf;
}
/* line 177, sass/_mixins-smakk.scss */
button.toggle__item:hover.is-white, button.toggle__item.is-active.is-white,
.toggle__item:hover.is-white,
.toggle__item.is-active.is-white {
  background-color: #fff;
  border-color: #fff;
}
/* line 177, sass/_mixins-smakk.scss */
button.toggle__item:hover.is-blue, button.toggle__item.is-active.is-blue,
.toggle__item:hover.is-blue,
.toggle__item.is-active.is-blue {
  background-color: #0067FF;
  border-color: #0067FF;
}

/* line 263, sass/_base-smakk.scss */
.toggle__item--large {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid;
}
/* line 177, sass/_mixins-smakk.scss */
.toggle__item--large:hover.is-green, .toggle__item--large.is-active.is-green {
  background-color: #73d2cf;
  border-color: #73d2cf;
}
/* line 177, sass/_mixins-smakk.scss */
.toggle__item--large:hover.is-white, .toggle__item--large.is-active.is-white {
  background-color: #fff;
  border-color: #fff;
}
/* line 177, sass/_mixins-smakk.scss */
.toggle__item--large:hover.is-blue, .toggle__item--large.is-active.is-blue {
  background-color: #0067FF;
  border-color: #0067FF;
}

/* line 267, sass/_base-smakk.scss */
.nav-main__item {
  color: #fff;
  font-size: 20px;
}
/* line 151, sass/_mixins-smakk.scss */
.nav-main__item a {
  color: #fff;
  text-decoration: none;
  border-bottom: none;
}
/* line 155, sass/_mixins-smakk.scss */
.nav-main__item a:hover {
  border-bottom: none;
}

/* line 270, sass/_base-smakk.scss */
.main-menu__logo {
  max-width: 120px;
  margin-right: 1.777em;
  vertical-align: -webkit-baseline-middle;
}

/* line 275, sass/_base-smakk.scss */
ul.nav-main__submenu {
  right: 0;
  background: #0067FF;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 283, sass/_base-smakk.scss */
a.nav-main__subitem__title {
  font-size: 14px;
}

/* line 286, sass/_base-smakk.scss */
.nav-main__subitem__text {
  display: none;
}

/* line 289, sass/_base-smakk.scss */
.nav-main__subitem__text a {
  display: none;
  padding: 0;
}

@media (min-width: 64em) {
  /* line 295, sass/_base-smakk.scss */
  .nav-main__item {
    color: #0067FF;
    font-size: 16px;
  }
  /* line 151, sass/_mixins-smakk.scss */
  .nav-main__item a {
    color: #0067FF;
    text-decoration: none;
    border-bottom: none;
  }
  /* line 155, sass/_mixins-smakk.scss */
  .nav-main__item a:hover {
    border-bottom: none;
  }

  /* line 298, sass/_base-smakk.scss */
  .nav-main__lastitem {
    margin-left: auto;
  }

  /* line 301, sass/_base-smakk.scss */
  .nav-main__subitem {
    padding: 1.333em 3.157em;
    max-width: 50%;
  }

  /* line 305, sass/_base-smakk.scss */
  a.nav-main__subitem__title {
    color: #73d2cf;
    font-size: 3.157em;
    padding: 0 !important;
    font-weight: 700;
  }

  /* line 311, sass/_base-smakk.scss */
  .nav-main__subitem__text {
    color: #fff;
    display: block;
    padding: 0 !important;
    margin: 1em 0;
  }

  /* line 317, sass/_base-smakk.scss */
  .nav-main__subitem__text a {
    display: inline-block;
    margin-top: 0.75em;
    color: #fff;
    font-size: 16px;
    border-bottom: 2px solid #73d2cf;
  }
  /* line 151, sass/_mixins-smakk.scss */
  .nav-main__subitem__text a a {
    color: #fff;
    text-decoration: none;
    border-bottom: none;
  }
  /* line 155, sass/_mixins-smakk.scss */
  .nav-main__subitem__text a a:hover {
    border-bottom: none;
  }
}
/* line 324, sass/_base-smakk.scss */
.nav-footer {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* line 327, sass/_base-smakk.scss */
.nav-footer__item {
  color: #1F28BF;
  font-size: 0.75em;
}
/* line 151, sass/_mixins-smakk.scss */
.nav-footer__item a {
  color: #1F28BF;
  text-decoration: none;
  border-bottom: none;
}
/* line 155, sass/_mixins-smakk.scss */
.nav-footer__item a:hover {
  border-bottom: none;
}

/* line 5, sass/_utilities.scss */
.integrations,
.inline-list {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}
/* line 10, sass/_utilities.scss */
.integrations li,
.inline-list li {
  display: inline-block;
}

/* line 15, sass/_utilities.scss */
.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* line 20, sass/_utilities.scss */
.is-flex-col {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 25, sass/_utilities.scss */
.padded0 {
  padding: 1em;
}

/* line 30, sass/_utilities.scss */
.padded {
  padding: 1em;
}
@media (min-width: 64em) {
  /* line 30, sass/_utilities.scss */
  .padded {
    padding: 5.611em;
  }
}

/* line 38, sass/_utilities.scss */
.padded2 {
  padding: 1em;
}
@media (min-width: 64em) {
  /* line 38, sass/_utilities.scss */
  .padded2 {
    padding: 3.157em;
  }
}

/* line 46, sass/_utilities.scss */
.padded3 {
  padding: 5.611em 2.369em;
}
@media (min-width: 64em) {
  /* line 46, sass/_utilities.scss */
  .padded3 {
    padding: 7.4811em;
  }
}

/* line 54, sass/_utilities.scss */
.paddedt0 {
  padding-top: 1.333em !important;
  padding-bottom: 1.333em !important;
}

/* line 60, sass/_utilities.scss */
.paddedt1 {
  padding-top: 2.369em;
  padding-bottom: 2.369em;
}

/* line 66, sass/_utilities.scss */
.paddedt3 {
  padding-top: 5.611em;
  padding-bottom: 5.611em;
}

/* line 72, sass/_utilities.scss */
.ally-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 83, sass/_utilities.scss */
.is-bold {
  font-weight: 700;
}

/* line 88, sass/_utilities.scss */
.is-bigger {
  font-size: 1.333em;
  line-height: 32px;
}

/* line 94, sass/_utilities.scss */
.is-smaller {
  font-size: 90%;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 20px;
}

/* line 103, sass/_utilities.scss */
* .underlined {
  position: relative;
  margin: 0;
  margin-bottom: 3em;
  font-size: 14px;
}
/* line 109, sass/_utilities.scss */
.underlined:after {
  content: '';
  width: 25px;
  height: 3px;
  border-radius: 20%;
  border: 2px solid;
  position: absolute;
  top: 40px;
  left: 0;
}

/* line 121, sass/_utilities.scss */
.superhead {
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 14px;
  color: #0067FF;
}

/* line 129, sass/_utilities.scss */
.text-center {
  text-align: center;
}

/* line 134, sass/_utilities.scss */
.is-green {
  color: #73d2cf;
}

/* line 139, sass/_utilities.scss */
.is-bg-green {
  background-color: #73d2cf;
}

/* line 144, sass/_utilities.scss */
.is-blue {
  color: #0067FF;
}

/* line 149, sass/_utilities.scss */
.is-bg-blue {
  background-color: #0067FF;
}

/* line 154, sass/_utilities.scss */
.is-navy {
  color: #1F28BF;
}

/* line 159, sass/_utilities.scss */
.is-bg-navy {
  background-color: #1F28BF;
}

/* line 164, sass/_utilities.scss */
.is-grey {
  color: #F5F5F5;
}

/* line 169, sass/_utilities.scss */
.is-bg-grey {
  background-color: #F5F5F5;
}

/* line 174, sass/_utilities.scss */
.is-grey-2 {
  color: #808285;
}

/* line 179, sass/_utilities.scss */
.is-bg-grey-2 {
  background-color: #808285;
}

/* line 184, sass/_utilities.scss */
.is-grey-3 {
  color: #4a4a4a;
}

/* line 189, sass/_utilities.scss */
.is-bg-grey-3 {
  background-color: #4a4a4a;
}

/* line 194, sass/_utilities.scss */
.is-red {
  color: #FF0044;
}

/* line 199, sass/_utilities.scss */
.is-bg-red {
  background-color: #FF0044;
}

/* line 204, sass/_utilities.scss */
.is-purple {
  color: #8500FF;
}

/* line 209, sass/_utilities.scss */
.is-bg-purple {
  background-color: #8500FF;
}

/* line 214, sass/_utilities.scss */
.is-aqua {
  color: #00ADED;
}

/* line 219, sass/_utilities.scss */
.is-bg-aqua {
  background-color: #00ADED;
}

/* line 224, sass/_utilities.scss */
.is-orange {
  color: #F15818;
}

/* line 229, sass/_utilities.scss */
.is-bg-orange {
  background-color: #F15818;
}

/* line 234, sass/_utilities.scss */
.is-white {
  color: #fff;
}

/* line 239, sass/_utilities.scss */
.is-bg-white {
  background-color: #fff;
}

/* line 244, sass/_utilities.scss */
.is-black {
  color: #000;
}

/* line 249, sass/_utilities.scss */
.is-bg-black {
  background-color: #000;
}

/* line 254, sass/_utilities.scss */
.has-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 258, sass/_utilities.scss */
.has-icon {
  position: relative;
  pointer-events: all;
  cursor: pointer;
}
/* line 263, sass/_utilities.scss */
.has-icon.icon-plus:after {
  content: '+';
  position: absolute;
  right: 20px;
  top: 8px;
  font-size: 2.369em;
  cursor: pointer;
  pointer-events: all;
}
/* line 274, sass/_utilities.scss */
.has-icon.icon-minus:after {
  content: '–';
  position: absolute;
  right: 40px;
  top: 8px;
  font-size: 2.369em;
  cursor: pointer;
  pointer-events: all;
}
/* line 285, sass/_utilities.scss */
.has-icon.icon-arrow:after {
  content: '';
  background-image: url(/svg/arrow.min.svg);
  height: 30px;
  width: 30px;
  background-size: contain;
  position: absolute;
  right: 30px;
  bottom: 22px;
  font-size: 3.157em;
}
/* line 298, sass/_utilities.scss */
.has-icon.icon-arrow.down:after {
  transform: rotate(90deg);
  font-size: 1.777em;
}
@media (min-width: 64em) {
  /* line 298, sass/_utilities.scss */
  .has-icon.icon-arrow.down:after {
    font-size: 3.157em;
  }
}
