@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/* line 4, sass/_utilities.scss */
.inline-list {
  list-style-type: none;
  display: inline-block;
}

/* line 10, sass/_utilities.scss */
.ally-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 21, sass/_utilities.scss */
.is-bold {
  font-weight: 700;
}

/* line 26, sass/_utilities.scss */
.is-bigger {
  font-size: 1.333em;
}

/* line 31, sass/_utilities.scss */
.is-smaller {
  font-size: 0.75em;
}

/* line 37, sass/_utilities.scss */
.is-green {
  color: #73d2cf;
}

/* line 42, sass/_utilities.scss */
.is-bg-green {
  background-color: #73d2cf;
}

/* line 47, sass/_utilities.scss */
.is-blue {
  color: #0067FF;
}

/* line 52, sass/_utilities.scss */
.is-bg-blue {
  background-color: #0067FF;
}

/* line 57, sass/_utilities.scss */
.is-navy {
  color: #1F28BF;
}

/* line 62, sass/_utilities.scss */
.is-bg-navy {
  background-color: #1F28BF;
}

/* line 67, sass/_utilities.scss */
.is-grey {
  color: #F5F5F5;
}

/* line 72, sass/_utilities.scss */
.is-bg-grey {
  background-color: #F5F5F5;
}

/* line 77, sass/_utilities.scss */
.is-grey-2 {
  color: #808285;
}

/* line 82, sass/_utilities.scss */
.is-bg-grey-2 {
  background-color: #808285;
}

/* line 87, sass/_utilities.scss */
.is-grey-3 {
  color: #4a4a4a;
}

/* line 92, sass/_utilities.scss */
.is-bg-grey-3 {
  background-color: #4a4a4a;
}

/* line 97, sass/_utilities.scss */
.is-red {
  color: #FF0044;
}

/* line 102, sass/_utilities.scss */
.is-bg-red {
  background-color: #FF0044;
}

/* line 107, sass/_utilities.scss */
.is-purple {
  color: #8500FF;
}

/* line 112, sass/_utilities.scss */
.is-bg-purple {
  background-color: #8500FF;
}

/* line 117, sass/_utilities.scss */
.is-aqua {
  color: #00ADED;
}

/* line 122, sass/_utilities.scss */
.is-bg-aqua {
  background-color: #00ADED;
}

/* line 127, sass/_utilities.scss */
.is-orange {
  color: #F15818;
}

/* line 132, sass/_utilities.scss */
.is-bg-orange {
  background-color: #F15818;
}

/* line 136, sass/_utilities.scss */
.is-bg-white {
  background-color: #fff;
}

/* line 140, sass/_utilities.scss */
.is-bg-black {
  background-color: #000;
}

/* line 2, sass/_base-smakk.scss */
html,
body {
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #fff;
}

/* line 9, sass/_base-smakk.scss */
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  margin: 0;
}

/* line 21, sass/_base-smakk.scss */
h1,
.h1 {
  font-size: 5.611em;
  letter-spacing: -2px;
}

/* line 27, sass/_base-smakk.scss */
h2,
.h2 {
  font-size: 4.209em;
  letter-spacing: -1px;
}

/* line 33, sass/_base-smakk.scss */
h3,
.h3 {
  font-size: 2.369em;
  letter-spacing: -1px;
}

/* line 39, sass/_base-smakk.scss */
h4,
.h4 {
  font-size: 1.777em;
}

/* line 44, sass/_base-smakk.scss */
p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
}

/* line 48, sass/_base-smakk.scss */
blockquote {
  position: relative;
  margin: 20px 120px;
  padding-right: 30px;
  margin-bottom: 1.333em;
}
/* line 53, sass/_base-smakk.scss */
blockquote cite {
  margin-top: 0.75em;
  font-style: normal;
  display: block;
}
/* line 58, sass/_base-smakk.scss */
blockquote:before, blockquote:after {
  position: absolute;
  font-family: 'Times New Roman';
  font-size: 5.611em;
  height: 0px;
  top: -35px;
}
/* line 66, sass/_base-smakk.scss */
blockquote:before {
  content: '“';
  left: -100px;
}
/* line 70, sass/_base-smakk.scss */
blockquote:after {
  content: '”';
  right: -40px;
}

/* line 76, sass/_base-smakk.scss */
a:link {
  border-bottom: 2px solid;
  color: inherit;
}
/* line 79, sass/_base-smakk.scss */
a:link:hover {
  color: inherit;
  border-bottom: 2px solid #73d2cf;
}
/* line 83, sass/_base-smakk.scss */
.is-blue a:link {
  border-bottom: 2px solid #73d2cf;
}
/* line 85, sass/_base-smakk.scss */
.is-blue a:link:hover {
  border-bottom: 2px solid #0067FF;
}
/* line 90, sass/_base-smakk.scss */
.is-bg-green a:link:hover {
  color: #0067FF;
  border-bottom: 2px solid #0067FF;
}

/* line 98, sass/_base-smakk.scss */
label {
  color: #73d2cf;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  display: block;
}

/* line 104, sass/_base-smakk.scss */
input:not([type="submit"]),
select,
textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #0067FF;
  border-radius: 0;
  margin-top: 3.157em;
  margin-bottom: 1.333em;
  color: #73d2cf;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  padding: 2px;
  background: transparent;
}
/* line 117, sass/_base-smakk.scss */
input:not([type="submit"])::placeholder,
input:not([type="submit"]) option,
input:not([type="submit"]) label,
select::placeholder,
select option,
select label,
textarea::placeholder,
textarea option,
textarea label {
  color: #73d2cf;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
}

/* line 125, sass/_base-smakk.scss */
.select--styled {
  position: relative;
}
/* line 127, sass/_base-smakk.scss */
.select--styled select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 132, sass/_base-smakk.scss */
.select--styled:after {
  content: '';
  position: absolute;
  right: 8px;
  bottom: 35px;
  width: 15px;
  height: 15px;
  border: 2px solid blue;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  transform: rotate(45deg);
  pointer-events: none;
}

/* line 147, sass/_base-smakk.scss */
input[type='radio'],
input[type='checkbox'] {
  width: auto;
  margin-top: 0.75em;
}

/* line 153, sass/_base-smakk.scss */
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.44444rem;
  margin-right: 0.88889rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

/* line 162, sass/_base-smakk.scss */
input[type='submit'] {
  width: auto;
  border: 0;
}

/* line 168, sass/_base-smakk.scss */
button,
.button,
input[type='submit'] {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  border: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50px;
  font-size: 0.75em;
  cursor: pointer;
  margin: 0 0 1.333em;
  min-width: 190px;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.88889rem 4.209em 0.94444rem 4.209em;
  color: #fff;
  transition: all 300ms ease-out;
}
/* line 186, sass/_base-smakk.scss */
button:hover,
.button:hover,
input[type='submit']:hover {
  background: white;
  color: #0067FF;
  border: 1px solid #0067FF;
}

/* line 193, sass/_base-smakk.scss */
.button-ghost {
  border: 1px solid #fff;
  background: transparent;
}

/* line 198, sass/_base-smakk.scss */
.button-callout {
  background: #fff;
  color: #0067FF;
}
/* line 201, sass/_base-smakk.scss */
.button-callout:hover {
  background: #0067FF;
  color: white;
  border: 1px solid #0067FF;
}

/* line 208, sass/_base-smakk.scss */
.toggle__item {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid;
  transition: all 200ms ease-out;
}
/* line 57, sass/_mixins.scss */
.toggle__item:hover.is-green {
  background-color: #73d2cf;
}
/* line 57, sass/_mixins.scss */
.toggle__item:hover.is-white {
  background-color: #fff;
}
/* line 57, sass/_mixins.scss */
.toggle__item:hover.is-blue {
  background-color: #0067FF;
}

/* line 214, sass/_base-smakk.scss */
.toggle__item--large {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid;
}
/* line 57, sass/_mixins.scss */
.toggle__item--large:hover.is-green {
  background-color: #73d2cf;
}
/* line 57, sass/_mixins.scss */
.toggle__item--large:hover.is-white {
  background-color: #fff;
}
/* line 57, sass/_mixins.scss */
.toggle__item--large:hover.is-blue {
  background-color: #0067FF;
}
