@font-face {
  font-display: swap;
  font-family: 'Neue Haas Grotesk';
  src: local('Neue Haas Grotesk'),
  local('Neue Haas Grotesk Display Std'),
  url('https://static.nuxeo.com/fonts/NHaasGroteskDSStd-55Rg.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Neue Haas Grotesk';
  font-weight: bold;
  src: local('Neue Haas Grotesk Black'),
  local('Neue Haas Grotesk Display Black'),
  url('https://static.nuxeo.com/fonts/NHaasGroteskDSStd-95Blk.otf') format('opentype');
}
