@import './settings';

// Import fonts
@import 'fonts';

@media all and (max-width: $menu-breakpoint) {
  html.no-scroll {
    // For desktop
    overflow: hidden;

    body {
      height: 100%;
      overflow: visible;
    }
  }
}
